<!DOCTYPE html>
<html>
<head>
    <title>{% block titre %}Parent{% endblock%}</title>
    <meta name="robots" content="noindex,nofollow">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset('assets/admin/css/style.css') }}">

</head>
<body class="app">
{% block contenuadmin %}

{% endblock %}
</body>
</html>