   

    <h4 class="c-grey-900">
				Periode n° __qnbb__
			</h4>
   <div ><div  ><label >Période fin</label></div></div>
 <div >{{form_widget(item.periode_fin)}}</div> <div ><div  ><label >Période debut</label></div></div><div >{{form_widget(item.periode_deb)}}</div>
<ul class="sous_taux_period" data-index="0" data-prototype=!!{% autoescape 'html' %}{% include "admin/sous_taux_period.html.twig" with { "item": item.sous_taux_period.vars.prototype }|escape %}{% endautoescape %}!!>              
            		</ul>
            <div class="btn-pret" style="width: 200px; height: 40px;   margin: auto;    display: flex;margin-top:5%;">
                 <a class="add_item_link add_item_link_pres btn btn-primary link-pret" onclick="prototype(this);" data-collection-holder-class="sous_taux_period">
                     <p class="demande-pret montserrat-medium-white-14px" style="color:white!important">Ajouter une Interval </p>
                 </a>
            </div>
 
   