   <div ><div  ><label >Montant minimum</label></div></div>
 <div >{{form_widget(item.montant_min)}}</div> <div ><div  ><label >Montant max</label></div></div><div >{{form_widget(item.montant_max)}}</div>

