/* screen - 08-regroupement-de-credits-small-desktop */

.x08-regroupement-de-credits-small-desktop {
  background-color: var(--white);
  cursor: pointer;
  height: 100vh;
  margin: 0px;
  min-height: 1654px;
  min-width: 1280px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.x08-regroupement-de-credits-small-desktop .attention-empru-ussi-de-largent-Vati0G {
  background-color: transparent;
  bottom: calc(19.66% - 5px);
  height: 26px;
  left: 69px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: calc(100.00% - 137px);
}
.x08-regroupement-de-credits-small-desktop .carte-de-crdit-YNJsA5 {
  background-color: transparent;
  bottom: 1px;
  height: 17px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 18px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.x08-regroupement-de-credits-small-desktop .carte-de-crdit-gpCQOx {
  background-color: transparent;
  bottom: 22.22%;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.x08-regroupement-de-credits-small-desktop .composant-10-15-B9dfMy {
  background-color: transparent;
  bottom: 15px;
  height: 64px;
  left: 70px;
  position: absolute;
  width: 143px;
}
.x08-regroupement-de-credits-small-desktop .composant-11-15-B9dfMy {
  background-color: transparent;
  bottom: 15px;
  height: 64px;
  left: calc(18.72% - 27px);
  position: absolute;
  width: 142px;
}
.x08-regroupement-de-credits-small-desktop .composant-12-15-B9dfMy {
  background-color: transparent;
  bottom: 15px;
  height: 64px;
  position: absolute;
  right: calc(43.71% - 63px);
  width: 143px;
}
.x08-regroupement-de-credits-small-desktop .composant-13-15-B9dfMy {
  background-color: transparent;
  bottom: 15px;
  height: 64px;
  position: absolute;
  right: calc(31.13% - 45px);
  width: 143px;
}
.x08-regroupement-de-credits-small-desktop .composant-14-15-B9dfMy {
  background-color: transparent;
  bottom: 15px;
  height: 64px;
  position: absolute;
  right: 70px;
  width: 142px;
}
.x08-regroupement-de-credits-small-desktop .composant-2-15-B9dfMy {
  background-color: transparent;
  height: 34px;
  position: absolute;
  right: 69px;
  top: calc(20.86% - 7px);
  width: 170px;
}
.x08-regroupement-de-credits-small-desktop .composant-31-30-hANmWC {
  background-color: transparent;
  height: 18px;
  position: absolute;
  right: calc(30.60% - 60px);
  top: calc(48.71% - 9px);
  width: 195px;
}
.x08-regroupement-de-credits-small-desktop .composant-32-23-hANmWC {
  background-color: transparent;
  bottom: calc(33.31% - 6px);
  height: 19px;
  left: calc(48.46% - 4px);
  position: absolute;
  width: 9px;
}
.x08-regroupement-de-credits-small-desktop .composant-37-2-Vati0G {
  background-color: transparent;
  height: 40px;
  position: absolute;
  right: calc(24.61% - 48px);
  top: calc(39.84% - 16px);
  width: 195px;
}
.x08-regroupement-de-credits-small-desktop .composant-4-8-B9dfMy {
  background-color: transparent;
  height: 20px;
  left: calc(43.45% - 22px);
  position: absolute;
  top: calc(23.73% - 5px);
  width: 51px;
}
.x08-regroupement-de-credits-small-desktop .composant-43-1-Vati0G {
  background-color: transparent;
  bottom: calc(28.00% - 11px);
  height: 40px;
  left: 138px;
  position: absolute;
  width: 195px;
}
.x08-regroupement-de-credits-small-desktop .composant-5-1-uQEMhc {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.x08-regroupement-de-credits-small-desktop .composant-6-8-B9dfMy {
  background-color: transparent;
  height: 34px;
  position: absolute;
  right: calc(21.38% - 32px);
  top: calc(20.86% - 7px);
  width: 148px;
}
.x08-regroupement-de-credits-small-desktop .composant-67-23-hANmWC {
  background-color: transparent;
  bottom: calc(33.31% - 6px);
  height: 19px;
  position: absolute;
  right: calc(48.28% - 10px);
  width: 20px;
}
.x08-regroupement-de-credits-small-desktop .composant-7-8-B9dfMy {
  background-color: transparent;
  height: 13px;
  left: calc(37.78% - 6px);
  position: absolute;
  top: calc(23.36% - 3px);
  width: 15px;
}
.x08-regroupement-de-credits-small-desktop .composant-8-8-B9dfMy {
  background-color: transparent;
  height: 20px;
  position: absolute;
  right: calc(45.75% - 58px);
  top: calc(23.73% - 5px);
  width: 126px;
}
.x08-regroupement-de-credits-small-desktop .composant-83-18-B9dfMy {
  background-color: transparent;
  bottom: 22px;
  height: 57px;
  left: calc(43.76% - 62px);
  position: absolute;
  width: 142px;
}
.x08-regroupement-de-credits-small-desktop .composant-87-15-B9dfMy {
  background-color: transparent;
  bottom: 23px;
  height: 56px;
  left: calc(31.22% - 45px);
  position: absolute;
  width: 143px;
}
.x08-regroupement-de-credits-small-desktop .composant-88-23-hANmWC {
  background-color: transparent;
  height: 18px;
  left: calc(32.96% - 43px);
  position: absolute;
  top: calc(49.45% - 9px);
  width: 130px;
}
.x08-regroupement-de-credits-small-desktop .composant-89-23-hANmWC {
  background-color: transparent;
  height: 18px;
  left: calc(32.96% - 43px);
  position: absolute;
  top: calc(40.59% - 7px);
  width: 130px;
}
.x08-regroupement-de-credits-small-desktop .composant-9-8-B9dfMy {
  background-color: transparent;
  height: 20px;
  position: absolute;
  right: calc(35.21% - 20px);
  top: calc(23.73% - 5px);
  width: 56px;
}
.x08-regroupement-de-credits-small-desktop .composant-90-23-hANmWC {
  background-color: transparent;
  height: 18px;
  left: calc(32.96% - 43px);
  position: absolute;
  top: calc(22.88% - 4px);
  width: 130px;
}
.x08-regroupement-de-credits-small-desktop .composant-91-18-hANmWC {
  background-color: transparent;
  height: 18px;
  left: calc(32.96% - 43px);
  position: absolute;
  top: calc(31.73% - 6px);
  width: 130px;
}
.x08-regroupement-de-credits-small-desktop .composant-92-23-hANmWC {
  background-color: transparent;
  height: 18px;
  left: calc(48.43% - 63px);
  position: absolute;
  top: calc(22.88% - 4px);
  width: 130px;
}
.x08-regroupement-de-credits-small-desktop .composant-93-23-hANmWC {
  background-color: transparent;
  height: 18px;
  left: calc(48.43% - 63px);
  position: absolute;
  top: calc(31.73% - 6px);
  width: 130px;
}
.x08-regroupement-de-credits-small-desktop .composant-94-37-hANmWC {
  background-color: transparent;
  height: 18px;
  left: calc(48.43% - 63px);
  position: absolute;
  top: calc(49.45% - 9px);
  width: 130px;
}
.x08-regroupement-de-credits-small-desktop .composant-94-38-hANmWC {
  background-color: transparent;
  height: 18px;
  left: calc(48.43% - 63px);
  position: absolute;
  top: calc(40.59% - 7px);
  width: 130px;
}
.x08-regroupement-de-credits-small-desktop .composant-95-23-B9dfMy {
  background-color: transparent;
  bottom: 22px;
  height: 52px;
  position: absolute;
  right: calc(18.61% - 26px);
  width: 141px;
}
.x08-regroupement-de-credits-small-desktop .contact-AGH02N {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: calc(100.00% + 2px);
}
.x08-regroupement-de-credits-small-desktop .courtier-spcial-et-en-belgique-hANmWC {
  background-color: transparent;
  height: 64px;
  left: 70px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: calc(41.78% - 27px);
  width: 242px;
}
.x08-regroupement-de-credits-small-desktop .crdits-MVLuBE {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: calc(100.00% + 2px);
}
.x08-regroupement-de-credits-small-desktop .creditespace-creditsbe-HzixGi {
  background-color: transparent;
  bottom: 33.33%;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.x08-regroupement-de-credits-small-desktop .demander-un-prt-FLNtrY {
  background-color: transparent;
  bottom: calc(33.33% - 7px);
  height: 22px;
  left: 8px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  width: calc(100.00% - 14px);
}
.x08-regroupement-de-credits-small-desktop .diminution-des-rges-mensuelles-IftB08 {
  background-color: transparent;
  height: 21px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 296px;
}
.x08-regroupement-de-credits-small-desktop .dure-60-mois-Vati0G {
  background-color: transparent;
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  right: calc(19.41% - 51px);
  text-align: left;
  top: calc(34.66% - 8px);
  white-space: nowrap;
  width: 265px;
}
.x08-regroupement-de-credits-small-desktop .dure-Vati0G {
  background-color: transparent;
  height: 25px;
  letter-spacing: 0.28px;
  line-height: 50px;
  position: absolute;
  right: calc(17.39% - 15px);
  text-align: left;
  top: calc(19.40% - 5px);
  white-space: nowrap;
  width: 84px;
}
.x08-regroupement-de-credits-small-desktop .ellipse-1-sXxjcu {
  background-color: var(--dove-gray);
  border-radius: 3.23573637008667px;
  bottom: calc(38.46% - 2px);
  height: 6px;
  left: calc(20.00% - 1px);
  position: absolute;
  width: 6px;
}
.x08-regroupement-de-credits-small-desktop .ellipse-2-sXxjcu {
  background-color: var(--dove-gray);
  border-radius: 3.23573637008667px;
  bottom: calc(38.46% - 2px);
  height: 6px;
  position: absolute;
  right: calc(20.00% - 1px);
  width: 6px;
}
.x08-regroupement-de-credits-small-desktop .entreprise-FzdFXm {
  background-color: transparent;
  bottom: 5px;
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.x08-regroupement-de-credits-small-desktop .entreprise-zZvhQK {
  background-color: transparent;
  bottom: 22.22%;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.x08-regroupement-de-credits-small-desktop .entrez-un-montant-Vati0G {
  background-color: transparent;
  height: 17px;
  letter-spacing: 0.24px;
  line-height: 50px;
  position: absolute;
  right: calc(27.30% - 38px);
  text-align: left;
  top: calc(21.38% - 4px);
  white-space: nowrap;
  width: 141px;
}
.x08-regroupement-de-credits-small-desktop .entrez-une-dure-Vati0G {
  background-color: transparent;
  height: 17px;
  letter-spacing: 0.24px;
  line-height: 50px;
  position: absolute;
  right: 163px;
  text-align: left;
  top: calc(21.38% - 4px);
  white-space: nowrap;
  width: 119px;
}
.x08-regroupement-de-credits-small-desktop .faire-une-demande-UAD6ak {
  background-color: transparent;
  bottom: calc(45.00% - 9px);
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  width: calc(100.00% + 2px);
}
.x08-regroupement-de-credits-small-desktop .footer-Vati0G {
  background-color: transparent;
  bottom: 0px;
  height: 289px;
  left: 0px;
  position: absolute;
  width: 100%;
}
.x08-regroupement-de-credits-small-desktop .grand-rue-5b-67-u-ve-9h00-18h00-hANmWC {
  background-color: transparent;
  height: 92px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  right: 96px;
  text-align: left;
  top: calc(27.92% - 26px);
  width: 152px;
}
.x08-regroupement-de-credits-small-desktop .groupe-10-qVhz6J {
  background-color: transparent;
  height: 34px;
  left: calc(49.77% - 17px);
  position: absolute;
  top: 0px;
  width: 34px;
}
.x08-regroupement-de-credits-small-desktop .groupe-112-hANmWC {
  background-color: transparent;
  height: 9px;
  position: absolute;
  right: calc(20.29% - 2px);
  top: calc(49.26% - 5px);
  width: 9px;
}
.x08-regroupement-de-credits-small-desktop .groupe-12-mwUEoS {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.x08-regroupement-de-credits-small-desktop .groupe-13-FzdFXm {
  background-color: transparent;
  height: 35px;
  left: calc(49.55% - 17px);
  position: absolute;
  top: 0px;
  width: 35px;
}
.x08-regroupement-de-credits-small-desktop .groupe-132-YNJsA5 {
  background-color: transparent;
  height: 30px;
  position: absolute;
  right: calc(49.67% - 20px);
  top: 0px;
  width: 40px;
}
.x08-regroupement-de-credits-small-desktop .groupe-139-Vati0G {
  background-color: transparent;
  height: 197px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
}
.x08-regroupement-de-credits-small-desktop .groupe-2-6Q2eDs {
  background-color: transparent;
  bottom: 0px;
  height: 19px;
  left: 0px;
  position: absolute;
  width: 15px;
}
.x08-regroupement-de-credits-small-desktop .groupe-296-Vati0G {
  background-color: transparent;
  bottom: calc(42.24% - 12px);
  height: 28px;
  left: 142px;
  position: absolute;
  width: 230px;
}
.x08-regroupement-de-credits-small-desktop .groupe-297-Vati0G {
  background-color: transparent;
  bottom: calc(39.53% - 11px);
  height: 28px;
  left: 142px;
  position: absolute;
  width: 238px;
}
.x08-regroupement-de-credits-small-desktop .groupe-298-Vati0G {
  background-color: transparent;
  bottom: calc(42.24% - 12px);
  height: 28px;
  position: absolute;
  right: calc(36.22% - 96px);
  width: 264px;
}
.x08-regroupement-de-credits-small-desktop .groupe-299-Vati0G {
  background-color: transparent;
  bottom: calc(39.53% - 11px);
  height: 28px;
  position: absolute;
  right: calc(30.47% - 106px);
  width: 348px;
}
.x08-regroupement-de-credits-small-desktop .groupe-3-uQEMhc {
  background-color: transparent;
  height: 24px;
  left: 11px;
  position: absolute;
  top: 4px;
  width: 18px;
}
.x08-regroupement-de-credits-small-desktop .groupe-4-nJXU1j {
  background-color: transparent;
  height: 35px;
  left: calc(49.93% - 19px);
  position: absolute;
  top: 0px;
  width: 39px;
}
.x08-regroupement-de-credits-small-desktop .groupe-5-scxBGr {
  background-color: transparent;
  bottom: 1px;
  height: 15px;
  position: absolute;
  right: 0px;
  width: 15px;
}
.x08-regroupement-de-credits-small-desktop .groupe-6-scxBGr {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.x08-regroupement-de-credits-small-desktop .groupe-7-RqztDR {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.x08-regroupement-de-credits-small-desktop .groupe-8-pT763s {
  background-color: transparent;
  height: 36px;
  position: absolute;
  right: calc(49.67% - 17px);
  top: 0px;
  width: 34px;
}
.x08-regroupement-de-credits-small-desktop .groupe-9-8c6mbe {
  background-color: transparent;
  bottom: calc(38.34% - 5px);
  height: 14px;
  left: calc(50.00% - 7px);
  position: absolute;
  width: 14px;
}
.x08-regroupement-de-credits-small-desktop .groupe-96-oVxzEl {
  background-color: transparent;
  height: 33px;
  left: calc(49.87% - 28px);
  position: absolute;
  top: 0px;
  width: 57px;
}
.x08-regroupement-de-credits-small-desktop .image-1-B9dfMy {
  background-color: transparent;
  height: 70px;
  left: 61px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 153px;
}
.x08-regroupement-de-credits-small-desktop .intrts-payer-2330-Vati0G {
  background-color: transparent;
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  right: calc(19.41% - 51px);
  text-align: left;
  top: calc(31.72% - 8px);
  white-space: nowrap;
  width: 265px;
}
.x08-regroupement-de-credits-small-desktop .la-simulation-r-tation-du-crdit-Vati0G {
  background-color: transparent;
  height: 36px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  right: 136px;
  text-align: left;
  top: calc(45.74% - 16px);
  width: 326px;
}
.x08-regroupement-de-credits-small-desktop .le-regroupement-ieurs-avantages-Vati0G {
  background-color: transparent;
  bottom: calc(46.42% - 10px);
  height: 21px;
  left: 138px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 454px;
}
.x08-regroupement-de-credits-small-desktop .linked-in-AfL1HV {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.x08-regroupement-de-credits-small-desktop .logo-espace-credit-n-hANmWC {
  background-color: transparent;
  height: 49px;
  left: 70px;
  object-fit: cover;
  position: absolute;
  top: 27px;
  width: 111px;
}
.x08-regroupement-de-credits-small-desktop .mensualits-Vati0G {
  background-color: transparent;
  height: 25px;
  letter-spacing: 0.28px;
  line-height: 50px;
  position: absolute;
  right: calc(30.74% - 30px);
  text-align: left;
  top: calc(25.48% - 6px);
  white-space: nowrap;
  width: 99px;
}
.x08-regroupement-de-credits-small-desktop .mentions-lgales-nication-a3-com-hANmWC {
  background-color: transparent;
  bottom: 11px;
  height: 33px;
  left: 70px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  width: calc(100.00% - 137px);
}
.x08-regroupement-de-credits-small-desktop .montant-Vati0G {
  background-color: transparent;
  height: 25px;
  letter-spacing: 0.28px;
  line-height: 50px;
  position: absolute;
  right: calc(31.61% - 27px);
  text-align: left;
  top: calc(19.40% - 5px);
  white-space: nowrap;
  width: 84px;
}
.x08-regroupement-de-credits-small-desktop .notre-philosophie-75Jarx {
  background-color: transparent;
  height: 22px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: calc(100.00% + 2px);
}
.x08-regroupement-de-credits-small-desktop .nous-contacter-slAajY {
  background-color: transparent;
  bottom: calc(45.00% - 9px);
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: center;
  width: calc(100.00% + 2px);
}
.x08-regroupement-de-credits-small-desktop .prt-auto-nJXU1j {
  background-color: transparent;
  bottom: 5px;
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.x08-regroupement-de-credits-small-desktop .prt-auto-uJr1wq {
  background-color: transparent;
  bottom: 22.22%;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.x08-regroupement-de-credits-small-desktop .prt-mobilit-o2kZ1V {
  background-color: transparent;
  bottom: 5px;
  height: 17px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.x08-regroupement-de-credits-small-desktop .prt-mobilit-wxMfqo {
  background-color: transparent;
  bottom: 22.22%;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.x08-regroupement-de-credits-small-desktop .prt-moto-Zd2BsW {
  background-color: transparent;
  bottom: 22.22%;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.x08-regroupement-de-credits-small-desktop .prt-moto-oVxzEl {
  background-color: transparent;
  bottom: 5px;
  height: 17px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.x08-regroupement-de-credits-small-desktop .prt-perso-F0dz2n {
  background-color: transparent;
  bottom: 5px;
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.x08-regroupement-de-credits-small-desktop .prt-perso-xSHsFE {
  background-color: transparent;
  bottom: 22.22%;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.x08-regroupement-de-credits-small-desktop .prt-travaux-TeGSWf {
  background-color: transparent;
  bottom: 22.22%;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.x08-regroupement-de-credits-small-desktop .prt-travaux-pT763s {
  background-color: transparent;
  bottom: 5px;
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.x08-regroupement-de-credits-small-desktop .rectangle-1-B9dfMy {
  background-color: var(--white);
  height: 98px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.x08-regroupement-de-credits-small-desktop .rectangle-16-B9dfMy {
  background-color: var(--alabaster);
  bottom: 0px;
  box-shadow: 0px 3px 6px #0000000d;
  height: 99px;
  left: 0px;
  position: absolute;
  width: 100%;
}
.x08-regroupement-de-credits-small-desktop .rectangle-187-Vati0G {
  background-color: var(--nevada);
  height: 603px;
  position: absolute;
  right: 0px;
  top: 197px;
  width: 547px;
}
.x08-regroupement-de-credits-small-desktop .rectangle-188-Vati0G {
  background-color: transparent;
  border-radius: 7px;
  height: 34px;
  position: absolute;
  right: 138px;
  top: calc(22.16% - 8px);
  width: 154px;
}
.x08-regroupement-de-credits-small-desktop .rectangle-189-Vati0G {
  background-color: transparent;
  border-radius: 7px;
  height: 34px;
  position: absolute;
  right: calc(27.35% - 42px);
  top: calc(22.16% - 8px);
  width: 154px;
}
.x08-regroupement-de-credits-small-desktop .rectangle-2-x8Nadt {
  background-color: var(--white);
  border-radius: 7px;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.x08-regroupement-de-credits-small-desktop .rectangle-21-B9dfMy {
  background-color: var(--web-orange);
  height: 4px;
  left: calc(43.45% - 22px);
  position: absolute;
  top: 0px;
  width: 51px;
}
.x08-regroupement-de-credits-small-desktop .rectangle-244-hANmWC {
  background-color: var(--mine-shaft);
  bottom: 0px;
  height: 51px;
  left: 0px;
  position: absolute;
  width: 100%;
}
.x08-regroupement-de-credits-small-desktop .rectangle-245-hANmWC {
  background-color: var(--cape-cod);
  height: calc(100.00% - 26px);
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.x08-regroupement-de-credits-small-desktop .rectangle-3-FLNtrY {
  background-color: var(--web-orange);
  border-radius: 7px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.x08-regroupement-de-credits-small-desktop .rectangle-60-UAD6ak {
  background-color: var(--web-orange);
  border-radius: 7px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.x08-regroupement-de-credits-small-desktop .rectangle-61-Vati0G {
  background-color: var(--alabaster);
  bottom: calc(31.74% - 153px);
  height: 482px;
  left: 0px;
  position: absolute;
  width: 100%;
}
.x08-regroupement-de-credits-small-desktop .rectangle-63-slAajY {
  background-color: var(--web-orange);
  border-radius: 7px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.x08-regroupement-de-credits-small-desktop .regroupement-nKrO27 {
  background-color: transparent;
  bottom: 22.22%;
  height: 20px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.x08-regroupement-de-credits-small-desktop .regroupement-qVhz6J {
  background-color: transparent;
  bottom: 5px;
  height: 24px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.x08-regroupement-de-credits-small-desktop .regroupementde-crdits-Vati0G {
  background-color: transparent;
  height: 135px;
  left: 138px;
  letter-spacing: 0.00px;
  line-height: 60px;
  position: absolute;
  text-align: left;
  top: 241px;
  width: 529px;
}
.x08-regroupement-de-credits-small-desktop .simulez-votre-crdit-Vati0G {
  background-color: transparent;
  height: 41px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  right: 123px;
  text-align: left;
  top: 259px;
  white-space: nowrap;
  width: 339px;
}
.x08-regroupement-de-credits-small-desktop .span0-0E5LoB {

}
.x08-regroupement-de-credits-small-desktop .span0-5RsQZk {

}
.x08-regroupement-de-credits-small-desktop .span0-BvqY4J {

}
.x08-regroupement-de-credits-small-desktop .span0-JLdfti {

}
.x08-regroupement-de-credits-small-desktop .span0-NBXUU6 {

}
.x08-regroupement-de-credits-small-desktop .span0-T08L9F {

}
.x08-regroupement-de-credits-small-desktop .span0-uoTwd7 {

}
.x08-regroupement-de-credits-small-desktop .span1-0E5LoB {

}
.x08-regroupement-de-credits-small-desktop .span1-5RsQZk {

}
.x08-regroupement-de-credits-small-desktop .span1-BvqY4J {

}
.x08-regroupement-de-credits-small-desktop .span1-JLdfti {

}
.x08-regroupement-de-credits-small-desktop .span1-NBXUU6 {
  letter-spacing: 0.48px;
}
.x08-regroupement-de-credits-small-desktop .span1-T08L9F {

}
.x08-regroupement-de-credits-small-desktop .span1-uoTwd7 {

}
.x08-regroupement-de-credits-small-desktop .span2-JLdfti {

}
.x08-regroupement-de-credits-small-desktop .span2-NBXUU6 {

}
.x08-regroupement-de-credits-small-desktop .span2-T08L9F {

}
.x08-regroupement-de-credits-small-desktop .span2-uoTwd7 {

}
.x08-regroupement-de-credits-small-desktop .taeg-595-Vati0G {
  background-color: transparent;
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  right: calc(19.41% - 51px);
  text-align: left;
  top: calc(33.19% - 8px);
  white-space: nowrap;
  width: 265px;
}
.x08-regroupement-de-credits-small-desktop .taeg-partir-de-595-Vati0G {
  background-color: transparent;
  height: 51px;
  left: 138px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: calc(23.02% - 12px);
  white-space: nowrap;
  width: 529px;
}
.x08-regroupement-de-credits-small-desktop .taux-prfrentiel-socit-de-crdit-Vati0G {
  background-color: transparent;
  height: 17px;
  left: 138px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: calc(45.33% - 8px);
  white-space: nowrap;
  width: 485px;
}
.x08-regroupement-de-credits-small-desktop .total-rembourser-14000-Vati0G {
  background-color: transparent;
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  right: calc(19.41% - 51px);
  text-align: left;
  top: calc(30.25% - 7px);
  white-space: nowrap;
  width: 265px;
}
.x08-regroupement-de-credits-small-desktop .tous-vos-prts-e-us-pouvez-ainsi-Vati0G {
  background-color: transparent;
  height: 266px;
  left: 138px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  top: calc(33.00% - 88px);
  width: 450px;
}
.x08-regroupement-de-credits-small-desktop .trac-11-sXxjcu {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.x08-regroupement-de-credits-small-desktop .trac-12-YcsM71 {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.x08-regroupement-de-credits-small-desktop .trac-13-5hllCD {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.x08-regroupement-de-credits-small-desktop .trac-15-8c6mbe {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.x08-regroupement-de-credits-small-desktop .trac-16-IHzDv8 {
  background-color: transparent;
  bottom: 1px;
  height: 6px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  width: 6px;
}
.x08-regroupement-de-credits-small-desktop .trac-17-IHzDv8 {
  background-color: transparent;
  bottom: 1px;
  height: 6px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  width: 6px;
}
.x08-regroupement-de-credits-small-desktop .trac-18-IHzDv8 {
  background-color: transparent;
  height: 6px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 6px;
}
.x08-regroupement-de-credits-small-desktop .trac-19-IHzDv8 {
  background-color: transparent;
  height: 6px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 6px;
}
.x08-regroupement-de-credits-small-desktop .trac-2-cx3SKz {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.x08-regroupement-de-credits-small-desktop .trac-20-4Fr5wD {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 100%;
}
.x08-regroupement-de-credits-small-desktop .trac-235-o2kZ1V {
  background-color: transparent;
  height: 34px;
  left: calc(49.22% - 25px);
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 51px;
}
.x08-regroupement-de-credits-small-desktop .trac-236-Q2FBGf {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.x08-regroupement-de-credits-small-desktop .trac-247-hANmWC {
  background-color: transparent;
  height: 9px;
  object-fit: cover;
  position: absolute;
  right: calc(42.17% - 4px);
  top: calc(22.89% - 2px);
  width: 9px;
}
.x08-regroupement-de-credits-small-desktop .trac-248-hANmWC {
  background-color: transparent;
  height: 12px;
  object-fit: cover;
  position: absolute;
  right: calc(42.11% - 3px);
  top: calc(31.39% - 4px);
  width: 7px;
}
.x08-regroupement-de-credits-small-desktop .trac-249-hANmWC {
  background-color: transparent;
  height: 12px;
  object-fit: cover;
  position: absolute;
  right: calc(42.11% - 3px);
  top: calc(40.05% - 5px);
  width: 7px;
}
.x08-regroupement-de-credits-small-desktop .trac-250-hANmWC {
  background-color: transparent;
  height: 9px;
  object-fit: cover;
  position: absolute;
  right: calc(42.07% - 5px);
  top: calc(49.22% - 4px);
  width: 11px;
}
.x08-regroupement-de-credits-small-desktop .trac-251-hANmWC {
  background-color: transparent;
  height: 11px;
  object-fit: cover;
  position: absolute;
  right: calc(20.38% - 2px);
  top: calc(22.27% - 2px);
  width: 8px;
}
.x08-regroupement-de-credits-small-desktop .trac-28-Da9sFx {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.x08-regroupement-de-credits-small-desktop .trac-29-Da9sFx {
  background-color: transparent;
  height: 4px;
  object-fit: cover;
  position: absolute;
  right: calc(35.71% - 1px);
  top: calc(46.08% - 2px);
  width: 3px;
}
.x08-regroupement-de-credits-small-desktop .trac-3-tDXcPH {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.x08-regroupement-de-credits-small-desktop .trac-341-YaUZvk {
  background-color: transparent;
  bottom: calc(34.25% - 1px);
  height: 3px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  width: 12px;
}
.x08-regroupement-de-credits-small-desktop .trac-342-YaUZvk {
  background-color: transparent;
  bottom: calc(20.40% - 1px);
  height: 3px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  width: 7px;
}
.x08-regroupement-de-credits-small-desktop .trac-343-YaUZvk {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.x08-regroupement-de-credits-small-desktop .trac-35-10w2HS {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
.x08-regroupement-de-credits-small-desktop .trac-4-6Q2eDs {
  background-color: transparent;
  height: 11px;
  object-fit: cover;
  position: absolute;
  right: 1px;
  top: 0px;
  width: 5px;
}
.x08-regroupement-de-credits-small-desktop .trac-5-6Q2eDs {
  background-color: transparent;
  height: 7px;
  object-fit: cover;
  position: absolute;
  right: 3px;
  top: 2px;
  width: 4px;
}
.x08-regroupement-de-credits-small-desktop .trac-57-xaDnGJ {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 28px;
}
.x08-regroupement-de-credits-small-desktop .trac-58-pL1hsa {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 28px;
}
.x08-regroupement-de-credits-small-desktop .trac-59-yGWPZI {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 28px;
}
.x08-regroupement-de-credits-small-desktop .trac-6-6Q2eDs {
  background-color: transparent;
  height: 4px;
  object-fit: cover;
  position: absolute;
  right: calc(31.85% - 1px);
  top: calc(24.13% - 1px);
  width: 2px;
}
.x08-regroupement-de-credits-small-desktop .trac-73-IftB08 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 28px;
}
.x08-regroupement-de-credits-small-desktop .trac-9-F0dz2n {
  background-color: transparent;
  height: 35px;
  left: calc(49.85% - 17px);
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 35px;
}
.x08-regroupement-de-credits-small-desktop .un-seul-interlocuteur-xaDnGJ {
  background-color: transparent;
  height: 21px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 178px;
}
.x08-regroupement-de-credits-small-desktop .un-seul-taux-dintrt-fixe-yGWPZI {
  background-color: transparent;
  height: 21px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 212px;
}
.x08-regroupement-de-credits-small-desktop .une-seule-mensualit-pL1hsa {
  background-color: transparent;
  height: 21px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 186px;
}
.x08-regroupement-de-credits-small-desktop .vous-avez-besoi-t-votre-service-Vati0G {
  background-color: transparent;
  bottom: calc(33.84% - 25px);
  height: 73px;
  left: 138px;
  letter-spacing: 0.00px;
  line-height: 26px;
  position: absolute;
  text-align: left;
  width: 454px;
}
.x08-regroupement-de-credits-small-desktop .x32-63-677-659-uQEMhc {
  background-color: transparent;
  bottom: calc(33.33% - 7px);
  height: 22px;
  left: 35px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  width: calc(100.00% - 41px);
}
.x08-regroupement-de-credits-small-desktop .x32-63-677-65932-352-691-625-137-hANmWC {
  background-color: transparent;
  height: 75px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  right: calc(29.36% - 63px);
  text-align: left;
  top: calc(25.70% - 19px);
  width: 214px;
}
.x08-regroupement-de-credits-small-desktop .x52623-Vati0G {
  background-color: transparent;
  height: 46px;
  letter-spacing: 0.72px;
  line-height: 50px;
  position: absolute;
  right: calc(26.96% - 43px);
  text-align: left;
  top: calc(28.23% - 13px);
  white-space: nowrap;
  width: 160px;
}
