{% extends 'front/base-front.html.twig' %}
{% block title %}{{title}}{% endblock %}
{% block description %}{{description}}{% endblock %}
{% block body %}

<div class="regroup-div regroup-div-carte-entreprise">
    <img class="img-left" style="float: left;width: 50%" src="assets/front/img/shutterstock-1710472255-min-850x567-1@1x.png">
    <div class="titre-div-row" style="padding-bottom: 30px;float: left;background-color: white;width: 50%;padding-left: 40px;padding-right: 80px;padding-top: 50px;">
        <div class="titre-taux-black titre-carte-cred" style="padding-bottom:50px">Demande de <br>carte de crédit</div>
        <div class="txt-black txt-p-cred">Nos courtiers trouverons la carte la plus adaptée à vos besoins, à vos revenus et à vos habitudes d'achat
        <span class="txt-black txt-p-cred fontt" style="font-weight: 400;font-size:17px">(VISA, Mastercard, Maestro).</span></div>
    </div>
</div>









<div class="titre-div-row" style="float: left;width: 100%;background-color:#6b6d7e;">
    <div class="div-centre-titre"> 
        <h1 class="titre-part titre-carte-t montserrat-bold-white-32px animate-enter" style="color: white">
            Tout savoir sur les cartes*
        </h1>
    </div>
    <div class="ligne-yellow"></div>
    <div class="div-img-carte" style="background-image:url({{asset('assets/front/img/Logo_Cofidis.svg')}});background-size: 400px;background-position: 75% 5%;background-repeat: no-repeat;height: 270px;width: 50%;float: left;">
    </div>
    <div class="div-img" style="padding-right: 200px;padding-top: 30px;padding-bottom: 30px">
        <br><div class="txt-black" style="color: white">Pourquoi passer par Espace crédits plutôt que par une banque pour votre carte de crédit ?</div><br><br>
        <br><div class="txt-black" style="font-size: 17px;color: white">Retraits sans frais</div>
        <div class="txt-black" style="color: white;font-weight: 300!important;font-size:17px;">Retirez de l’argent sans frais dans n’importe quel distributeur en Belgique et à l’étranger</div>
        <br> <div class="txt-black" style="font-size: 17px;color: white">Credit reutilisable</div><br><br>
        <div class="txt-black" style="color: white;font-weight: 300!important;font-size:17px;">Bénéficiez, sans changer de banque, d’un montant entre 500 et 10 001 € disponible à tout moment
         pour vos dépenses : shopping, voyages… et réutilisable au gré de vos envies.</div>
        <br><div class="txt-black" style="font-size: 17px;color: white">Remboursez à votre rythme</div><br><br>
        <div class="txt-black" style="color: white;font-weight: 300!important;font-size:17px;">En fonction de vos achats et du montant dépensé, votre mensualité est recalculée chaque mois. Vous pouvez déterminer à quel rythme vous souhaitez rembourser</div>
        <div class="txt-black" style="font-size: 17px;color: white">Seulement 5€ par an</div><br><br>
        <div class="txt-black" style="color: white;font-weight: 300!important;font-size:17px;">La carte liée à l’ouverture de crédit ne coûte que 5 € par an. Une cotisation parmi les plus basses du marché </div>
       <br> <div class="txt-black" style="font-size: 17px;color: white">Coup d’oeil sur les avantages</div><br><br>
        <div class="txt-black" style="color: white;font-weight: 300!important;font-size:17px;">
    <ol style="list-style-type: inherit;">       
      <li>Cotisation annuelle = 5€</li>
      <li>Retraits sans frais</li>
     <li> Application mobile</li>
      <li>Mensualités variables</li>
      <li>Paiement sans contact</li>
      <li>Réseau international Mastercard</li>

</ol>
Exemple représentatif pour la Mastercard
Sous réserve d’acceptation de votre demande par Cofidis et après signature de votre contrat.
Exemple : Pour une ouverture de crédit de 2 000 €, le montant minimal 
mensuel à rembourser est de 5,6% du solde restant dû, augmenté des frais de
 carte le cas échéant. Le Taux Annuel Effectif Global (TAEG) appliqué à l’ouverture de
  crédit est de 11,50%, incluant les cotisations annuelles de la carte de 5 €, le taux
   débiteur actuariel de 10,97%. Pas de frais non récurrents. Le taux débiteur actuariel
    est variable. Le coût du crédit est fonction du montant du crédit octroyé. Contrat à
     durée indéterminée. Taux débiteur en vigueur au 01/06/2021, susceptible de modification.
Sous réserve d’acceptation de votre demande par Cofidis et après 
signature de votre contrat, le montant minimal mensuel à rembourser varie 
en fonction de la formule choisie par le consommateur : Pour un montant de crédit
 autorisé inférieur ou égal à 5 000 €, le consommateur a le choix entre trois formules
  de remboursement : 5,6%, 7% et 10% du solde restant dû ; pour un montan
  t de crédit autorisé supérieur à 5 000 € et inférieur ou égal à 
  10 000 €, le consommateur a le choix entre quatre formules de remboursement
   4,2%, 5,6%, 7% et 10% du solde restant dû. Pour un montant de crédit autorisé
    supérieur à 10 000 €, le consommateur a le choix entre cinq formules de 
remboursement 3%, 4,2%, 5,6%, 7% et 10% du solde restant dû</div>
<p class="txt-black" style="color: white;font-weight: 300!important;font-size:14px;">*Valable uniquement pour les clients belges.</p>
        
    
    
    </div>
</div>

{% endblock %}