{% extends 'front/base-front.html.twig' %}
{% block body %}

<div style="height: 200px">
    <img class="img-left" style="float: left;width: 50%" src="assets/front/img/shutterstock-1710472255-min-850x567-1@1x.png">
    <div class="titre-div-row" style="padding-bottom: 30px;float: left;background-color: white;width: 50%;padding-left: 40px;padding-right: 80px;padding-top: 50px;">
        <div class="titre-taux-black" style="padding-bottom:50px">Demande de <br>carte de crédit</div>
        <div class="txt-black">Nos courtiers trouverons la carte la plus adaptée à vos besoins, à vos revenus et à vos habitudes d'achat
        <span class="txt-black" style="font-weight: 400!important;font-size:17px">(VISA, Mastercard, Maestro).</span></div>
    </div>
</div>


<div class="titre-div-row" style="float: left;width: 100%;background-color: #f8f8f8">
    <div class="div-centre-titre"> 
        <h1 class="titre-part montserrat-bold-white-32px animate-enter" style="color: var(--nevada)">
            Vos demandes de carte de crédit
        </h1>
    </div>
    <div class="ligne-yellow"></div>
    <div class="div-img-carte" style="height: 250px;background-size: 350px;background-repeat: no-repeat;float: left;width: 50%;background-position: 70% 50%;background-image:url({{asset('assets/front/img/image-25@1x.png')}});">

    </div>
    <div class="div-img">
        <div class="txt-black" style="margin-top: 60px">Faites votre demande de carte de crédit chez Espace Crédits</div><br>
        <div class="carte-exemple">
            <img class="img-visa" style="margin-right: 10px;width: 20%;margin-bottom: 5px;" src="assets\front\img\Visa_Inc._logo.svg.png">
            <img class="img-master-maestro" style="margin-right: 10px;width: 11%" src="assets\front\img\990px-Mastercard-logo.svg.png">
            <img class="img-master-maestro" style="width: 11%" src="assets\front\img\1280px-Maestro_2016.svg.png">
        </div>
        <div class="div-btn-cred" style="margin-top: 50px;">
            <div class="btn-pret">
                <a href="" class="link-pret"><p class="demande-pret montserrat-medium-white-14px">FAIRE UNE DEMANDE</p></a>
            </div>
        </div>
    </div>
</div>


<div class="titre-div-row" style="float: left;width: 100%">
    <div class="div-centre-titre"> 
        <h1 class="titre-part montserrat-bold-white-32px animate-enter" style="color: var(--nevada)">
            Nos conseils pour choisir votre carte de crédit
        </h1>
    </div>
    <div class="ligne-yellow"></div>
    <div class="div-img-special" style="width: 100%;background-position: 80% 0%;background-size: 250px!important;background-repeat: no-repeat;background-image:url({{asset('assets/front/img/trac--329-1@1x.png')}})">
        <div class="txt-black">Espace crédits peut vous proposer différentes types de carte de crédit allant de la Classique à la Premium</div><br>
        <div class="txt-black" style="font-weight: 400!important;color: var(--black);font-size:17px">Lors du choix de votre carte, vous devrez prendre en considération quelques paramètres. Si vous souhaitez faire des achats, des retraits, utiliser le sans contact ou encore
         payer sur internet, une carte classique suffit.<br><br>Si vous êtes plus dépensier, vous pourrez opter pour une carte haut de gamme. Ces cartes vous permettent d'obtenir diverses
          assurances, notamment pour les voyages
        </div>
        <div class="div-btn-cred" style="margin-top: 200px;margin-left: auto;margin-right: auto;">
            <div class="btn-pret">
                <a href="{{ path('contact') }}" class="link-pret"><p class="demande-pret montserrat-medium-white-14px">NOUS CONTACTER</p></a>
            </div>
        </div>
    </div>
</div>


<div class="titre-div-row" style="float: left;width: 100%;background-color:#6b6d7e;">
    <div class="div-centre-titre"> 
        <h1 class="titre-part montserrat-bold-white-32px animate-enter" style="color: white">
            Tout savoir sur les crédits
        </h1>
    </div>
    <div class="ligne-yellow"></div>
    <div class="div-img-carte" style="background-image:url({{asset('assets/front/img/logo-espace-credit-n-8@1x.png')}});background-size: 400px;background-position: 75% 5%;background-repeat: no-repeat;height: 200px;width: 50%;float: left;">
    </div>
    <div class="div-img" style="padding-right: 200px;padding-top: 30px">
        <div class="txt-black" style="color: white">Pourquoi passer par Espace crédits plutôt que par une banque pour votre carte de crédit ?</div><br><br>
        <div class="txt-black" style="color: white;font-weight: 300!important;font-size:17px;">Espace crédits vous permet de</div>
    </div>
</div>

{% endblock %}