{% extends 'front/base-front.html.twig' %}
{% block body %}
<div style="float: left;width: 100%;min-height: 248px;background-image:url({{asset('assets/front/img/shutterstock-1890826546-3@1x.png')}});background-repeat: no-repeat;background-size: cover">
    <div style="background-color: var(--black);min-height: 248px">
        <div style="color: white" class="titre-taux-black">Nos crédits <br>aux meilleurs taux</div>
    </div>
</div>

<div class="div-lightgrey" style="width: 100%;min-height: 500px;">
    <div class="titre-form" style="color: var(--black);transform: revert;opacity: 1;text-align: center">Les solutions Espace Crédits</div>
    <div style="text-align: center">Chez Espace Crédits, nous vous proposons plusieurs types de crédits<br> aux meilleurs taux* spécialement adaptés à vos besoins et envies</div>
</div>

<div class="txt-black div-emprunte-argent">
    Attention : emprunter de l'argent coûte aussi de l'argent
</div>
{% endblock %}