{% extends 'front/base-front.html.twig' %}
{% block title %}{{title}}{% endblock %}
{% block description %}{{description}}{% endblock %}
{% block body %}
<div class="div-mention">
<h1 class="h1-mention" >Données personnelles</h1>
<p class="l-mention">Général</p>
<p>La réglementation en matière de protection des données est une priorité pour Espace Crédits SRL. C’est pour cette raison, que nous souhaitons faire en sorte que toutes les informations en relation avec le traitement de vos données personnelles sur le Site www.espace-credits.be soient claires et compréhensives pour l’utilisateur.</p>
<p>Cette réglementation sur la protection de données a comme objectif de vous informer sur l’usage des données personnelles collectées via ce site internet, ainsi que sur vos droits et de la façon dont vous pouvez les exercer. Le traitement des données est crucial pour exercer notre métier et pour servir en toute confiance notre clientèle à long terme, il est donc essentiel pour Espace Crédits SRL qu’il soit réalisé en toute sécurité, en respectant la confidentialité et en toute conformité avec votre volonté.</p>
<p>Avant de confirmer la transmission de vos données personnelles via nos rubriques de contact, vous vous engagez à lire et accepter notre politique de confidentialité. Cette acceptation permet à Espace Crédits SRL de traiter votre demande grâce aux données transmises à cet effet pour une durée se limitant à l’objet de votre demande (demande de prêt personnel, demande de prêt auto, demande de prêt travaux, demande de regroupement de crédits).</p>
<p class="l-mention">Engagements</p>
<p>Espace Crédits SRL s’engage à respecter le Règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016, dès son entrée en vigueur le 25 mai 2018.</p>
<p>Espace Crédits SRL s’engage à n’utiliser les données personnelles reçues qu’en conformité avec l’objet propre défini lors de la transmission.</p>
<p>Espace Crédits SRL est à votre écoute en cas de question relative à cette réglementation des protections des données via : credit@espace-credits.be</p>
<p class="l-mention">Vos données</p>
<p>Espace Crédits SRL est responsable pour la collecte des données personnelles de ses utilisateurs via son Site internet,</p>
<p>Le site www.espace-credits.be appartient à Espace Crédits SRL domiciliée au : Grandrue, 5 | 6791 ATHUS (Belgique) et enregistrée sous le numéro 0762557580.</p>
<p>Les données collectées sont :</p>
<p>données d’identification : (ex : nom et prénom, date et lieu de naissance, numéro de carte d’identité,  nationalité, adresse IP, le sexe)</p>
<p>données de contact (ex : adresse postale, adresse e-mail, numéro de téléphone)</p>
<p>données socio démographique (ex :situation familiale, état civil, nombre d’enfants)</p>
<p>informations relatives à l’emploi (ex : nom de l’employeur, rémunération, type d’emploi, type de contrat de travail)</p>
<p>données bancaires, financières et transactionnelles (ex: numéro de compte bancaire, dépenses et dettes, créances, détails des comptes bancaires, avoirs)</p>
<p>données relatives  à  vos  comportements  et  habitudes  de  navigation  sur  le site :  consultation d’informations, de simulations, de demandes, ….</p>
<p>données de géolocalisation (endroit précis où vous vous trouvez)</p>
<p class="l-mention">Collecte</p>
<p>Vos données sont collectées par le biais de formulaire(s) de contact, par téléphone ou lors de votre passage au bureau. Les données sont stockées pour une période maximum de 1 an après toute absence d’interactivité.</p>
<p class="l-mention">Raison de traitement des données</p>
<p>Les données personnelles envoyées de la part de l’utilisateur sont destinées :</p>
<p>à traiter votre demande (demande de prêt personnel, demande de prêt auto, demande de prêt travaux, demande de regroupement de crédits)</p>
<p>vérifier vos capacités d’emprunt et de remboursement</p>
<p>lutter contre le fincancement du terrorisme et le blanchiment d’argent</p>
<p>Lorsque vous acceptez de transmettre vos données personnelles à Espace Crédits SRL, vous acceptez également que Espace Crédits SRL puisse utiliser ces données dans la limite des finalités détaillées dans cette réglementation.</p>
<p class="l-mention">Responsable du traitement des données personnelles</p>
<p>Le responsable du traitement des données personnelles est Pascal AUTHELET. Vous pouvez joindre le responsable du traitement par mail : admin@espace-credits.be</p>
<p>Le responsable du traitement s’engage à protéger les données et ne pas les transmettre à des tiers sans que vous en ayez été informé.</p>
<p class="l-mention">Prestataires</p>
<p>Espace Crédits SRL est amené à communiquer vos données aux prestataires suivants :</p>
<p>– Domino Communication : webmaster / éditeur de nos newsletter</p>
<p>– Partenaires bancaires et de financement, dans le cadre de votre demande.</p>
<p>Ces données ne sont pas réutilisées à des fins commerciales par nos partenaires.</p>
<p class="l-mention">Droit d’opposition, d’accès, de rectification et de suppression</p>
<p>Vous pouvez prendre connaissance, mettre à jour, modifier ou demander la suppression des renseignements vous concernant en contactant le Responsable du traitement.</p>
<p>Par ailleurs, vous avez la possibilité de vous désinscrire à tout moment de nos listes de diffusion via le lien situé en bas de nos newsletters.</p>
<p class="l-mention">Cookies</p>
<p>Le Site www.espace-credits.be utilise des “cookies” pour collecter et enregistrer certaines informations des utilisateurs.</p>
<p>Ces fichiers nous permettent de traiter des statistiques et des informations sur le trafic, de faciliter la navigation et d’améliorer le service pour votre confort.</p>
<p>Les cookies nous permettent, par exemple, de personnaliser les pages d’accueil en sauvegardant les préférences que vous pouvez émettre lors d’une précédente visite de notre Site. Ils peuvent sécuriser votre mot de passe, identifier les rubriques du Site que vous avez visitées ou encore suivre l’évolution de vos préférences. Nos cookies peuvent éventuellement collecter un nom de domaine et suivre votre cheminement à travers nos pages web.</p>
<p>Ces fichiers contiennent principalement les informations suivantes : adresse IP, système d’exploitation, requêtes, pages visitées, heures et jour de connexion, langue.</p>
<p>Nous utilisons les cookies dans les buts suivants : amélioration du service, création de profils personnalisés de consommation, études statistiques.</p>
<p>En naviguant sur le site, des cookies de tiers peuvent être enregistrés. Il s’agit principalement des tiers suivants : Google, Facebook.</p>
<p>Les cookies utilisés ne peuvent pas extraire de votre disque dur des informations personnelles permettant de vous identifier autrement que sous forme de cookies, ni transmettre de virus informatique.</p>
<p>Nous utilisons les cookies seulement pour recueillir les informations mentionnées dans cette Charte et, en aucune façon, des informations à caractère personnel ou nominatives permettant de vous identifier sans votre consentement.</p>
<p>Vous avez la possibilité d’intervenir au niveau des cookies. En modifiant la configuration de votre navigateur (généralement au sein du menu « outils », rubrique « privée » ou terme équivalent), vous pouvez : accepter l’ensemble des cookies, être averti lors de l’activation d’un cookie, ou rejeter l’ensemble des cookies. Toutefois, il est probable alors que vous rencontriez des difficultés pour naviguer sur le Site dans les meilleures conditions.</p>


</div>
{% endblock %}