{% extends "front/base-front.html.twig" %}
{% block body %}
<div class="container-pret">
  <div class="presentation-pret" style="background-image:url({{asset('assets/front/img/image@1x.png')}})">
    <div class="div-presentation">
      <div class="div-marg-taux">
        <div class="div-titre-taux">
          <h1 class="titre-taux">Les meilleurs <br>taux du marché</h1>
        </div>
        <div class="div-sous-titre-taux">
          <h1 class="sous-titre-taux montserrat-light-web-orange-30px">Votre courtier en Belgique <br>et au Luxembourg</h1>
        </div>
        <div class="div-btn-t-dec">
             <div class="btn-pret taux-menu">
                    <a class="link-pret">
                        <p class="demande-pret montserrat-medium-white-14px "> DÉCOUVRIR NOS TAUX</p>
                    </a>
                </div>
        </div>
      </div>
    </div>
  
  </div>
  <div class="form-pret">

   <div class="div-form-pret"></div>

  </div>

</div>
<div class="container-presentation">
    <div class="div-centre-titre"></div>
    <div class="ligne-yellow"></div>


</div>
<!--<div class="accroche" style="background-image:url({{asset('assets/front/img/groupe-de-masques-4.png')}});">
  <div class="overlap-group">
    <h1 class="text-2">
      <span class="span0">Les meilleurs <br>taux du marché</span><span class="span1">&nbsp;</span><span class="montserrat-light-web-orange-30px"></span>
    </h1>
    <div class="text-1 montserrat-light-web-orange-30px">
      Votre courtier en Belgique <br>et au Luxembourg
    </div>
    <div class="composant-15-1">
      <div class="overlap-group1">
        <div class="rectangle-6"></div>
        <div class="dcouvrir-nos-taux montserrat-medium-white-14px">
          DÉCOUVRIR NOS TAUX
        </div>
      </div>
    </div>
  </div>
</div>
<div class="simulationdepret" data-id="8c062b71-32d0-42ab-9ac6-9274893ea66e">
  
  <div class="overlap-group" data-id="an|iTUeF769">
  <div class="text-5 montserrat-bold-white-32px" data-id="2bff346e-ba5f-42db-b48c-27de54e2337b">
    Simulez votre crédit
  </div>
  <div class="type-de-prt" data-id="9a783861-417d-4787-9bff-5bc935f7492d">
    <div class="types-de-prt montserrat-medium-white-14px" data-id="43152a60-db41-4a4f-8724-5af34cf79570">
      Types de prêt
    </div>
    <div class="overlap-group4" data-id="an|EhqnV6Xp">
      <div class="rectangle-7 border-1px-white" data-id="323e3dc1-7aed-48f0-9726-c29e289031ad"></div>
      <img
        class="down"
        data-id="d4c9ef68-cc9a-4292-8d46-5eeeee482487"
        src="https://anima-uploads.s3.amazonaws.com/projects/60d053234da36ffc696aa4ed/releases/60d053312db904d587e4611a/img/trac--354@1x.png"
      />
      <div class="prt-perso montserrat-light-white-12px" data-id="35b6e3a8-88d3-4b19-ae1f-ed1799cf9954">Prêt perso</div>
    </div>
  </div>
  <div class="flex-row" data-id="an|HHUHqD6U">
    <div class="montant" data-id="ee140758-5630-46d7-a607-c2bab513c89f">
      <div class="montant-1 montserrat-medium-white-14px" data-id="a3100c1f-af89-4d2d-a300-c11801c77ac1">Montant</div>
      <div class="overlap-group3" data-id="an|JpAqKWU0">
        <div class="rectangle-8 border-1px-white" data-id="e97b002c-12a1-4eb6-ab9b-84e592b51661"></div>
        <div class="entrez-un-montant montserrat-light-white-12px" data-id="2dec136d-cfa4-47e7-9f8d-ac9e813bb58e">
          Entrez un montant
        </div>
      </div>
    </div>
    <div class="dure" data-id="1fb8a811-d555-4b6a-8ff2-fe9b0312e403">
      <div class="dure-1 montserrat-medium-white-14px" data-id="3ec3f347-f0ee-4f4c-b71e-b69bece6c2b9">Durée</div>
      <div class="overlap-group2" data-id="an|0S5EplkG">
        <div class="rectangle-9 border-1px-white" data-id="1846a0d7-c004-4f05-b525-95e2243efc16"></div>
        <div class="text-4 montserrat-light-white-12px" data-id="ffa668bf-b163-4281-9858-9115947aa24e">
          Sélectionnez une durée
        </div>
      </div>
    </div>
  </div>
    <div class="mensualits montserrat-medium-white-14px" data-id="3958ea46-b4fc-4177-82db-46ece5cffc82">Mensualités</div>

    <div class="dure-60-mois montserrat-bold-white-14px" data-id="d52bf78b-15e4-4055-9d81-cfcc879705ab">
      <span class="montserrat-light-white-14px">Durée :</span><span class="montserrat-light-white-10px">&nbsp;</span
      ><span class="montserrat-bold-white-18px">60 mois</span>
    </div>
    <div class="taeg-595 montserrat-bold-white-14px" data-id="48f36c4e-be29-4792-8125-384a2595282e">
      <span class="montserrat-light-white-14px">TAEG :</span><span class="montserrat-light-white-10px">&nbsp;</span
      ><span class="montserrat-bold-white-18px">5,95%*</span>
    </div>
    <p class="text-2 montserrat-bold-white-14px" data-id="574edf53-804a-4a2c-999a-41f3f71e9627">
      <span class="montserrat-light-white-14px">Intérêts à payer :</span
      ><span class="montserrat-light-white-10px">&nbsp;</span><span class="montserrat-bold-white-18px">2.330€</span>
    </p>
    <p class="text-3 montserrat-bold-white-14px" data-id="7f8c2210-922c-46e2-a5ad-9a004c4b9120">
      <span class="montserrat-light-white-14px">Total à rembourser : </span
      ><span class="montserrat-bold-white-18px">14.000€</span>
    </p>
    <h1 class="price" data-id="a9dacee6-7546-4302-a45b-126c77b8c3ee">
      <span class="montserrat-bold-web-orange-36px">526</span><span class="span1">,23</span
      ><span class="montserrat-bold-web-orange-36px">€</span>
    </h1>
  </div>
  <div class="c2-a-demande-de-credit" data-id="e8046bd4-98cb-4085-ba71-9fc1c1cd66e6">
    <div class="overlap-group1" data-id="an|ZZj8GmeP">
      <img
        class="trac-94"
        data-id="0950133d-e61d-4ac9-a730-bb2a4fe2f90b"
        src="https://anima-uploads.s3.amazonaws.com/projects/60d053234da36ffc696aa4ed/releases/60d053312db904d587e4611a/img/trac--94@1x.png"
      />
      <div class="demande-de-crdit montserrat-medium-white-14px" data-id="2fecb4d6-7336-495c-b729-ba0297ed1d54">
        DEMANDE DE CRÉDIT
      </div>
    </div>
  </div>
  <p class="text-1 montserrat-light-white-10px" data-id="d3c0a9c1-8c90-462b-9b75-b280db17a7e6">
    *Taux préférentiel, sous réserve d’acceptation du dossier par la société de crédit.
  </p>
</div>
    <script>
      var overlay_id = "overlay-00-menu-tablet";
      document.getElementById(overlay_id).addEventListener(
        "click",
        function (event) {
          var overlay_id = "overlay-00-menu-tablet";
          var e = event || window.event;
          var overlayElement = document.getElementById(overlay_id);
          var overlayContainer = overlayElement.getElementsByClassName("00-menu-tablet");
          var clickedDiv = e.toElement || e.target;
          var dismissButton = clickedDiv.parentElement.id == overlay_id;
          var clickOutsideOverlay = false;
          if (overlayContainer.length > 0) {
            clickOutsideOverlay = !overlayContainer[0].contains(clickedDiv) || overlayContainer[0] == clickedDiv;
          }
          if (dismissButton || clickOutsideOverlay) {
            HideOverlay("00-menu-tablet", "animate-disappear");
          }
        },
        false
      );
    </script>
    <script>
      ShowOverlay = function (overlayName, animationName) {
        overlayName = "overlay-" + overlayName;
        var cssClasses = document.getElementById(overlayName).className.split(" ");
        var last = cssClasses.slice(-1)[0];
        if (last.lastIndexOf("animate") == -1) {
          document.getElementById(overlayName).className =
            document.getElementById(overlayName).className + " " + animationName;
        }
        if (window.loadAsyncSrc != undefined) {
          loadAsyncSrc();
        }
      };
      HideOverlay = function (overlayName, animationName) {
        overlayName = "overlay-" + overlayName;
        var cssClasses = document.getElementById(overlayName).className.split(" ");
        var last = cssClasses.slice(-1)[0];
        if (last.lastIndexOf("animate") != -1) {
          cssClasses.splice(-1);
          cssClasses.push(animationName);
          document.getElementById(overlayName).className = cssClasses.join(" ");

          cssClasses.splice(-1);
          setTimeout(function () {
            document.getElementById(overlayName).className = cssClasses.join(" ");
          }, 1100);
        }
        var vids = document.getElementsByTagName("video");
        if (vids) {
          for (var i = 0; i < vids.length; i++) {
            var video = vids.item(i);
            video.pause();
          }
        }
      };
    </script>
    <script>
      function ShowOnScroll() {
        this.toShow = [];
        this.nextEventY = undefined;
      }

      ShowOnScroll.prototype.show = function (e) {
        e.style.display = "";
      };

      ShowOnScroll.prototype.hide = function (e) {
        e.style.display = "none";
      };

      ShowOnScroll.prototype.getTop = function (e) {
        if (e.Top != undefined && e.Top != 0) {
          return e.Top;
        }
        var top = 0;
        var iter = e;
        do {
          top += iter.offsetTop || 0;
          iter = iter.offsetParent;
        } while (iter);
        e.Top = top;
        return top;
      };

      ShowOnScroll.prototype.onScroll = function () {
        var screenBottom = window.pageYOffset + window.innerHeight;
        if (this.nextEventY == undefined || this.nextEventY > screenBottom) {
          return;
        }
        this.nextEventY = undefined;
        for (var i = 0; i < this.toShow.length; i++) {
          var e = this.toShow[i];
          var top = this.getTop(e);
          if (top < screenBottom) {
            this.show(e);
            this.toShow.shift();
            i--;
          } else {
            this.nextEventY = top;
            break;
          }
        }
      };

      ShowOnScroll.prototype.resetScrolling = function () {
        // Clear state
        var screenBottom = window.pageYOffset + window.innerHeight;
        for (var i = 0; i < this.toShow.length; i++) {
          var e = this.toShow[i];
          this.show(e);
        }
        this.toShow = [];
        this.nextEventY == undefined;

        // Collect items
        var itemsToShowOnScroll = Array.prototype.slice.call(document.getElementsByTagName("*"));
        itemsToShowOnScroll = itemsToShowOnScroll.filter(function (e) {
          return e.getAttribute("show-on-scroll") != undefined;
        });
        var getTop = this.getTop;
        itemsToShowOnScroll.sort(function (a, b) {
          return getTop(a) - getTop(b);
        });
        for (var i = 0; i < itemsToShowOnScroll.length; i++) {
          var e = itemsToShowOnScroll[i];
          var top = this.getTop(e);
          if (top < screenBottom) {
            continue;
          }
          this.toShow.push(e);
          this.hide(e);
          this.nextEventY = this.nextEventY != undefined ? this.nextEventY : top;
        }
      };

      ShowOnScroll.prototype.handleEvent = function (e) {
        switch (e.type) {
          case "scroll":
            this.onScroll();
            break;
          case "resize":
            this.resetScrolling();
            break;
        }
      };

      ShowOnScroll.prototype.init = function () {
        this.resetScrolling();
        window.addEventListener("scroll", this);
        window.addEventListener("resize", this);
      };

      // After anima-src
      setTimeout(function () {
        var instShowOnScroll = new ShowOnScroll();
        instShowOnScroll.init();
      }, 250);
    </script>-->
{% endblock %}
