{% extends 'front/base-front.html.twig' %}
{% block title %}{{title}}{% endblock %}
{% block description %}{{description}}{% endblock %}
{% block body %}
<div class="div-mention">
<h1 class="h1-mention" >Mentions Légales</h1>
<p>Le site wwww.espace-credits.be appartient à Espace Crédits SRL, entreprise domiciliée au Grandrue, 5 | 6791 ATHUS (Belgique), enregistrée sous le numéro 0762557580.</p>
<p>Les présentes mentions incluent les conditions d’utilisation et le cadre de protection des données ayant pour objet d’encadrer l’utilisation du Site par les Utilisateurs et de les informer de leurs droits et obligations.</p>
<p><b>Nom ou Raison sociale :</b> Espace Crédits SRL SRL</p>
<p><b>Numéro entreprise :</b> 0762557580</p>
<p><b>Adresse :</b>  Grandrue, 5 | 6791 ATHUS (Belgique)</p>
<p><b>E-Mail :</b> credit@espace-credits.be</p>
<p><b>Téléphone :</b> +32 63 67 76 59</p>
<p><b>Responsable de la publication :</b> Pascal AUTHELET</p>
<p><b>E-Mail :</b> credit@espace-credits.be</p>
<p><b>Téléphone :</b> +32 63 67 76 59</p>
<p>Le Site est édité et développé par A3com</p>
<p>Design et développements :</p>
<p>A3com</p>
<p>2 Bd Grande-Duchesse Charlotte </p>
<p>L-1330 Luxembourg</p>
<p><a href="https://www.a3com.lu/">www.a3com.lu</a></p>
<p class="l-mention">Hébergement :</p>
<p>OVH</p>
<p>SAS au capital de 10 069 020 €</p>
<p>RCS Lille Métropole 424 761 419 00045</p>
<p>Code APE 2620Z</p>
<p><b>N° TVA :</b> FR 22 424 761 419</p>
<p><b>Siège social :</b> 2 rue Kellermann – 59100 Roubaix – France</p>
<p class="l-mention">Conditions d’utilisation du Site</p>
<p>Le Site wwww.espace-credits.be est un emplacement digital dédié, notamment, à la promotion des services proposés par Espace Crédits SRL.</p>
<p>Tout utilisateur naviguant sur le Site est présumé avoir accepté les conditions d’utilisation ci-dessous et se doit de les respecter.</p>
<p>Les présentes conditions d’utilisation ne s’appliquent pas à des modules intégrés sur le site permettant la communication avec des autres sites et plateformes tiers qui ont fixé leurs propres conditions d’utilisation.</p>
<p>Merci de bien vouloir prendre connaissance des conditions d’utilisation de ces modules auprès de leurs éditeurs respectifs.</p>
<p>Les présentes conditions peuvent être modifiées à tout moment. Toute modification sera publiée sur le Site et tout utilisateur accédant au Site après leur publication sera présumé avoir accepté les modifications.</p>
<p>Les présentes conditions d’utilisation sont soumises à la loi luxembourgeoise.</p>
<p class="l-mention">Copyright</p>
<p>Le contenu complet se trouvant sur le site wwww.espace-credits.be, incluant tout logo, marque, photo, vidéo, textes, dessins, graphiques et présentations appartient à Espace Crédits SRL.
Toute reproduction, diffusion, copie, adaptation, citation de tout ou partie de ce site, sur quelque support que ce soit et pour quelque utilisation que ce soit, est formellement interdite sauf autorisation préalable de Espace Crédits SRL.
<b>Crédits photos :</b></p>
<p>Shutterstock,</p>
<p>Espace Crédits SRL,
</p>
<p class="l-mention">Liens externes</p>
<p>Tous liens provenant d’un site externe et guidant sur le Site sont soumis avant publication à autorisation préalable de Espace Crédits SRL qui se réserve le droit de poursuivre tout contrevenant.</p>
<p>Espace Crédits SRL décline toute responsabilité concernant des liens présents sur des sites externes qui renvoient vers le site wwww.espace-credits.be et ne pourra en aucun cas être tenu responsable du contenu présent au sein de ce site tiers par la simple existence de ces liens.</p>
<p>Le Site wwww.espace-credits.be peut contenir des liens redirigeant vers des sites partenaires et/ou des sites tiers. Espace Crédits SRL n’a pas de contrôle sur ces sites tiers et ne peut en aucun cas surveiller le contenu de ces sites ou les conditions d’utilisation, notamment en matière de protection de données. Espace Crédits SRL ne pourra en aucun cas être tenue responsable pour tout dommage subi sur un site vers lequel un de ses internautes aurait été redirigé.</p>
<p>Le fait de cliquer sur un lien externe dirigera automatiquement l’utilisateur du Site vers ces sites qui sont soumis à des conditions d’utilisations qui leur sont propres, et non aux présentes. L’accès à ces sites extérieurs s’effectue aux propres risques de l’utilisateur. Espace Crédits SRL ne pourra être tenue responsable pour tout contenu présent.</p>
<p class="l-mention">Responsabilité</p>
<p>Espace Crédits SRL effectue des mises à jour régulières concernant le contenu et les dispositifs en place sur le Site afin de permettre à l’utilisateur un accès et et une utilisation dans les meilleures conditions.</p>
<p>Néanmoins, Espace Crédits SRL ne peut garantir en temps réel l’actualité et l’intégralité des contenus publiés sur le Site.</p>
<p>L’utilisateur a dans ce cadre pleinement conscience que les contenus présents sur le Site sont donnés à titre indicatif.</p>
<p>Espace Crédits SRL se réserve le droit de faire des modifications sur le Site à tout moment, et ne peut donc garantir l’utilisateur de l’accessibilité de l’ensemble du Site sans interruption, en temps utile, en toute sécurité et sans erreur en permanence.</p>
<p>Espace Crédits SRL ne peut être tenue responsable de tout dommage causé à un utilisateur par les actions d’un tiers, qui par un moyen technique déloyal a utilisé les informations diffusées sur le Site. Nous assurons toutefois mettre en pratique les moyens à notre disposition pour lutter contre toute action de ce type, tout en étant limitée par les contraintes inhérentes à Internet.</p>
<p>Espace Crédits SRL à le droit de poursuivre toute personne ayant par quelque moyen que ce soit essayé de s’attaquer au site wwww.espace-credits.be, soit à sa structure technique ou à son contenu publié.</p>
</div>
{% endblock %}