<h1>Bienvenue {{ email.toName }}!</h1>

<p>
    vous avez remplie le formulaire de demande de Pret 
</p>

<p>
    Voici votre token pour procéder a la suite du formulaire de demande de prêt
    <a href="{{ url('demande', {token: token}) }}">{{token}}</a>
    
</p>