<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/08-regroupement-de-credits-smartphone.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
    <meta name="author" content="AnimaApp.com - Design to code, Automated." />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="08-regroupement-de-credits-smartphone" />
    <div class="x08-regroupement-de-credits-smartphone screen">
      <div class="attention-empru-ussi-de-largent-gQ3K2h montserrat-bold-silver-chalice-18px">
        Attention : emprunter de l’argent coûte aussi de l’argent
      </div>
      <div class="rectangle-303-gQ3K2h"></div>
      <div class="rectangle-503-gQ3K2h"></div>
      <img class="logo-espace-credit-n-gQ3K2h" src="img/logo-espace-credit-n-39@1x.png" />
      <p class="x32-63-677-65932-352-691-625-137-gQ3K2h montserrat-light-white-14px">
        +32 63 677 659<br />+32 4 74 120 507<br />+352 691 625 137
      </p>
      <img class="trac-347-gQ3K2h" src="img/trac--247-10@1x.png" /><img
        class="trac-348-gQ3K2h"
        src="img/trac--248-10@1x.png"
      /><img class="trac-349-gQ3K2h" src="img/trac--248-10@1x.png" /><img
        class="trac-350-gQ3K2h"
        src="img/trac--250-11@1x.png"
      />
      <div class="composant-31-29-gQ3K2h">
        <div class="creditespace-creditsbe-RZ2NNt montserrat-light-white-14px">credit@espace-credits.be</div>
      </div>
      <p class="grand-rue-5b-67-u-ve-9h00-18h00-gQ3K2h montserrat-light-white-14px">
        Grand-Rue, 5<br />B-6791 Athus<br />BELGIQUE<br />Lu.-Ve. : 9h00 - 18h00
      </p>
      <img class="trac-351-gQ3K2h" src="img/trac--251-10@1x.png" />
      <div class="groupe-136-gQ3K2h">
        <img class="trac-28-bAKuEI" src="img/trac--28-10@1x.png" /><img
          class="trac-29-bAKuEI"
          src="img/trac--29-10@1x.png"
        />
      </div>
      <div class="groupe-137-gQ3K2h">
        <div class="rectangle-244-QZxVGz"></div>
        <p class="mentions-lgales-nication-a3-com-QZxVGz montserrat-light-celeste-12px">
          Mentions légales -<br />
          Gestion des données - CGU<br />©2021 - Agence de communication A3COM
        </p>
      </div>
      <div class="composant-32-22-gQ3K2h"><img class="trac-35-AOLxyE" src="img/trac--35-10@1x.png" /></div>
      <div class="composant-67-22-gQ3K2h"><img class="linked-in-xfOaJi" src="img/linkedin-10@1x.png" /></div>
      <div class="regroupement-de-crdits-gQ3K2h montserrat-bold-nevada-36px">Regroupement <br />de crédits</div>
      <p class="taeg-partir-de-595-gQ3K2h montserrat-bold-web-orange-16px">
        <span class="span0-zMiYBt montserrat-medium-web-orange-16px">TAEG à partir de</span
        ><span class="span1-zMiYBt montserrat-medium-web-orange-24px">&nbsp;</span
        ><span class="span2-zMiYBt montserrat-bold-web-orange-36px">5,95%*</span>
      </p>
      <p class="taux-prfrentiel-socit-de-crdit-gQ3K2h montserrat-light-web-orange-12px">
        *Taux préférentiel, sous réserve d’acceptation du dossier par la société de crédit.
      </p>
      <div class="rectangle-314-gQ3K2h"></div>
      <div class="simulez-votre-crdit-gQ3K2h montserrat-bold-white-24px">Simulez votre crédit</div>
      <div class="rectangle-315-gQ3K2h border-1px-white"></div>
      <div class="composant-96-17-gQ3K2h">
        <div class="rectangle-290-GJLXHD border-1px-white"></div>
        <div class="entrez-un-montant-GJLXHD montserrat-light-white-12px">Entrez un montant</div>
      </div>
      <div class="slectionnez-une-dure-gQ3K2h montserrat-light-white-12px">Sélectionnez une durée</div>
      <div class="montant-gQ3K2h montserrat-medium-white-14px">Montant</div>
      <div class="dure-gQ3K2h montserrat-medium-white-14px">Durée</div>
      <div class="mensualits-gQ3K2h montserrat-medium-white-14px">Mensualités</div>
      <div class="x52623-gQ3K2h montserrat-bold-web-orange-36px-2">
        <span class="span0-zIHWXw montserrat-bold-web-orange-36px">526</span
        ><span class="span1-zIHWXw montserrat-bold-web-orange-24px">,23</span
        ><span class="span2-zIHWXw montserrat-bold-web-orange-36px">€</span>
      </div>
      <p class="total-rembourser-14000-gQ3K2h montserrat-bold-white-14px-2">
        <span class="span0-a16Ijz montserrat-light-white-14px">Total à rembourser : </span
        ><span class="span1-a16Ijz montserrat-bold-white-18px">14.000€</span>
      </p>
      <p class="intrts-payer-2330-gQ3K2h montserrat-bold-white-14px-2">
        <span class="span0-mgZ9UA montserrat-light-white-14px">Intérêts à payer :</span
        ><span class="span1-mgZ9UA montserrat-light-white-10px">&nbsp;</span
        ><span class="span2-mgZ9UA montserrat-bold-white-18px">2.330€</span>
      </p>
      <div class="taeg-595-gQ3K2h montserrat-bold-white-14px-2">
        <span class="span0-HKjbUI montserrat-light-white-14px">TAEG :</span
        ><span class="span1-HKjbUI montserrat-light-white-10px">&nbsp;</span
        ><span class="span2-HKjbUI montserrat-bold-white-18px">5,95%*</span>
      </div>
      <div class="dure-60-mois-gQ3K2h montserrat-bold-white-14px-2">
        <span class="span0-yNTVgo montserrat-light-white-14px">Durée :</span
        ><span class="span1-yNTVgo montserrat-light-white-10px">&nbsp;</span
        ><span class="span2-yNTVgo montserrat-bold-white-18px">60 mois</span>
      </div>
      <div class="composant-16-14-gQ3K2h">
        <img class="trac-94-dQSM8Q" src="img/trac--94-10@1x.png" />
        <div class="demande-de-crdit-dQSM8Q montserrat-medium-white-14px">DEMANDE DE CRÉDIT</div>
      </div>
      <p class="la-simulation-r-tation-du-crdit-gQ3K2h montserrat-light-white-10px">
        La simulation réalisée avec l’outil n’est pas considérée <br />comme une offre et/ou une acceptation du crédit.
      </p>
      <p class="le-regroupement-ieurs-avantages-gQ3K2h montserrat-light-tundora-16px">
        Le regroupement de crédit offre plusieurs avantages.
      </p>
      <div class="groupe-330-gQ3K2h">
        <img class="trac-369-9UOSWI" src="img/trac--240-1@1x.png" />
        <div class="un-seul-interlocuteur-9UOSWI montserrat-medium-tundora-16px">Un seul interlocuteur</div>
      </div>
      <div class="groupe-331-gQ3K2h">
        <img class="trac-370-nhrhxr" src="img/trac--240-1@1x.png" />
        <div class="une-seule-mensualit-nhrhxr montserrat-medium-tundora-16px">Une seule mensualité</div>
      </div>
      <div class="groupe-333-gQ3K2h">
        <img class="trac-371-bfZusI" src="img/trac--240-1@1x.png" />
        <p class="un-seul-taux-dintrt-fixe-bfZusI montserrat-medium-tundora-16px">Un seul taux d’intérêt fixe</p>
      </div>
      <div class="groupe-332-gQ3K2h">
        <img class="trac-372-nxlSJm" src="img/trac--240-1@1x.png" />
        <div class="diminution-des-rges-mensuelles-nxlSJm montserrat-medium-tundora-16px">
          Diminution des charges mensuelles
        </div>
      </div>
      <p class="vous-avez-besoi-t-votre-service-gQ3K2h montserrat-light-tundora-16px">
        Vous avez besoin de plus d’informations concernant les regroupements de crédits, les taux ou des questions ?<br />Notre
        équipe est à votre service.
      </p>
      <div class="composant-38-12-gQ3K2h">
        <div class="rectangle-63-tRpVlO"></div>
        <div class="nous-contacter-tRpVlO montserrat-medium-white-14px">NOUS CONTACTER</div>
      </div>
      <div class="tous-vos-prts-e-us-pouvez-ainsi-gQ3K2h montserrat-light-tundora-20px">
        <span class="span0-EwGA26 montserrat-bold-tundora-20px">Tous vos prêts en un !<br /></span
        ><span class="span1-EwGA26 montserrat-light-tundora-16px"
          ><br />Le regroupement de crédits vous permet de rassembler plusieurs prêts personnels (travaux, auto, etc) en
          <br />un seul. <br /><br />En regroupant vos crédits, vous n’avez qu’un seul taux d’intérêt unique et une
          seule mensualité. <br /><br />Vous pouvez ainsi mieux gérer votre budget.</span
        >
      </div>
      <div class="composant-114-12-gQ3K2h">
        <div class="rectangle-426-rKQHMu"></div>
        <div class="simuler-un-prt-rKQHMu montserrat-medium-white-16px">SIMULER UN PRÊT</div>
      </div>
      <div class="groupe-192-gQ3K2h">
        <div class="rectangle-282-kOmI81"></div>
        <img class="image-1-kOmI81" src="img/image-1-24@1x.png" />
        <div class="rectangle-283-kOmI81"></div>
        <div class="rectangle-284-kOmI81"></div>
        <div class="rectangle-285-kOmI81"></div>
        <div class="rectangle-398-kOmI81"></div>
        <div class="groupe-dfilant-14-kOmI81">
          <div class="groupe-176-kixYfv">
            <div class="composant-88-22-WCMc3N">
              <img class="trac-9-NnZpkI" src="img/trac--9-41@1x.png" />
              <div class="prt-perso-NnZpkI montserrat-bold-dove-gray-10px">PRÊT PERSO</div>
            </div>
            <div class="composant-89-22-WCMc3N">
              <div class="groupe-4-xjwNH8">
                <img class="trac-11-NHevBo" src="img/trac--11-44@1x.png" />
                <div class="ellipse-1-NHevBo"></div>
                <div class="ellipse-2-NHevBo"></div>
              </div>
              <div class="prt-auto-xjwNH8 montserrat-bold-dove-gray-10px">PRÊT AUTO</div>
            </div>
            <div class="composant-90-22-WCMc3N">
              <div class="groupe-96-Hf8A59"><img class="trac-236-9gGYsx" src="img/trac--236-38@1x.png" /></div>
              <div class="prt-moto-Hf8A59 montserrat-bold-dove-gray-10px">PRÊT MOTO</div>
            </div>
            <div class="composant-117-3-WCMc3N">
              <div class="composant-91-7-aGpfji">
                <div class="prt-mobilit-0Mf8lX montserrat-bold-dove-gray-10px">PRÊT MOBILITÉ</div>
                <img class="trac-235-0Mf8lX" src="img/trac--235-40@1x.png" />
              </div>
            </div>
            <div class="composant-92-22-WCMc3N">
              <div class="groupe-8-f0AHg6">
                <div class="groupe-7-zY8MkM">
                  <div class="groupe-5-JtVkwV"><img class="trac-12-aX3IgW" src="img/trac--12-38@1x.png" /></div>
                  <div class="groupe-6-JtVkwV"><img class="trac-13-1d5MZ1" src="img/trac--13-45@1x.png" /></div>
                </div>
              </div>
              <div class="prt-travaux-f0AHg6 montserrat-bold-dove-gray-10px">PRÊT TRAVAUX</div>
            </div>
            <div class="composant-93-22-WCMc3N">
              <div class="groupe-10-2BAamN">
                <img class="trac-15-SfzD6g" src="img/trac--15-45@1x.png" />
                <div class="groupe-9-SfzD6g">
                  <img class="trac-16-N29SKq" src="img/trac--16-45@1x.png" /><img
                    class="trac-17-N29SKq"
                    src="img/trac--17-45@1x.png"
                  /><img class="trac-18-N29SKq" src="img/trac--18-45@1x.png" /><img
                    class="trac-19-N29SKq"
                    src="img/trac--19-45@1x.png"
                  />
                </div>
              </div>
              <div class="regroupement-2BAamN montserrat-bold-web-orange-10px">REGROUPEMENT</div>
            </div>
            <div class="composant-95-22-WCMc3N">
              <div class="groupe-13-RFAsO0">
                <div class="groupe-12-Yaj6Vl"><img class="trac-20-1Ah3ns" src="img/trac--20-38@1x.png" /></div>
              </div>
              <div class="entreprise-RFAsO0 montserrat-bold-dove-gray-10px">ENTREPRISE</div>
            </div>
            <div class="composant-94-36-WCMc3N">
              <div class="groupe-132-qNSu7a">
                <img class="trac-341-Kl5AEo" src="img/trac--341-35@1x.png" /><img
                  class="trac-342-Kl5AEo"
                  src="img/trac--342-35@1x.png"
                /><img class="trac-343-Kl5AEo" src="img/trac--343-39@1x.png" />
              </div>
              <div class="carte-de-crdit-qNSu7a montserrat-bold-dove-gray-10px">CARTE DE CRÉDIT</div>
            </div>
          </div>
        </div>
        <div class="rectangle-413-kOmI81"></div>
      </div>
    </div>
  </body>
</html>
