<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1920, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/08-regroupement-de-credits-big-desktop.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
    <meta name="author" content="AnimaApp.com - Design to code, Automated." />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="08-regroupement-de-credits-big-desktop" />
    <div class="x08-regroupement-de-credits-big-desktop screen">
      <div class="menu-VuCvfX">
        <div class="sous-menu-R1t1Sb">
          <div class="sous-menugris-EIWqyO"></div>
          <div class="entrerpise-EIWqyO">
            <div class="entreprise-wKPQxf montserrat-bold-dove-gray-12px">ENTREPRISE</div>
            <div class="groupe-13-wKPQxf">
              <div class="groupe-12-plM0Gj"><img class="trac-20-x3UBKj" src="img/trac--20-11@1x.png" /></div>
            </div>
            <div class="rectangle-436-wKPQxf"></div>
          </div>
          <div class="cartedecrdit-EIWqyO">
            <div class="carte-de-crdit-8ijncp montserrat-bold-dove-gray-12px">CARTE DE CRÉDIT</div>
            <div class="groupe-132-8ijncp">
              <img class="trac-341-KEmYMU" src="img/trac--341-10@1x.png" /><img
                class="trac-342-KEmYMU"
                src="img/trac--342-10@1x.png"
              /><img class="trac-343-KEmYMU" src="img/trac--343-10@1x.png" />
            </div>
            <div class="rectangle-435-8ijncp"></div>
          </div>
          <div class="regroupementdecrdits-EIWqyO">
            <div class="regroupement-qImsGg montserrat-bold-dove-gray-12px">REGROUPEMENT</div>
            <div class="groupe-10-qImsGg">
              <img class="trac-15-cZeMyE" src="img/trac--15-11@1x.png" />
              <div class="groupe-9-cZeMyE">
                <img class="trac-16-mK3AsS" src="img/trac--16-11@1x.png" /><img
                  class="trac-17-mK3AsS"
                  src="img/trac--17-11@1x.png"
                /><img class="trac-18-mK3AsS" src="img/trac--18-11@1x.png" /><img
                  class="trac-19-mK3AsS"
                  src="img/trac--19-11@1x.png"
                />
              </div>
            </div>
            <div class="rectangle-434-qImsGg"></div>
          </div>
          <div class="prttravaux-EIWqyO">
            <div class="prt-travaux-LU9K0r montserrat-bold-dove-gray-12px">PRÊT TRAVAUX</div>
            <div class="groupe-8-LU9K0r">
              <div class="groupe-7-LPcJBw">
                <div class="groupe-5-SefWk2"><img class="trac-12-LOQ6bR" src="img/trac--12-11@1x.png" /></div>
                <div class="groupe-6-SefWk2"><img class="trac-13-WiWUyI" src="img/trac--13-11@1x.png" /></div>
              </div>
            </div>
            <div class="rectangle-433-LU9K0r"></div>
          </div>
          <div class="prtmobilit-EIWqyO">
            <div class="prt-mobilit-SnfjY5 montserrat-bold-dove-gray-12px">PRÊT MOBILITÉ</div>
            <img class="trac-235-SnfjY5" src="img/trac--235-7@1x.png" />
            <div class="rectangle-432-SnfjY5"></div>
          </div>
          <div class="prtmoto-EIWqyO">
            <div class="prt-moto-5FxtFi montserrat-bold-dove-gray-12px">PRÊT MOTO</div>
            <div class="groupe-96-5FxtFi"><img class="trac-236-YRY1Hs" src="img/trac--236-10@1x.png" /></div>
            <div class="rectangle-431-5FxtFi"></div>
          </div>
          <div class="prtauto-EIWqyO">
            <div class="prt-auto-Mq7LSY montserrat-bold-dove-gray-12px">PRÊT AUTO</div>
            <div class="groupe-4-Mq7LSY">
              <img class="trac-11-JlDxFi" src="img/trac--11-4@1x.png" />
              <div class="ellipse-1-JlDxFi"></div>
              <div class="ellipse-2-JlDxFi"></div>
            </div>
            <div class="rectangle-430-Mq7LSY"></div>
          </div>
          <div class="prtperso-EIWqyO smart-layers-pointers">
            <div class="prt-perso-vC2pwa smart-layers-pointers montserrat-bold-dove-gray-12px">PRÊT PERSO</div>
            <img class="trac-9-vC2pwa smart-layers-pointers" src="img/trac--9-31@1x.png" />
            <div class="rectangle-429-vC2pwa"></div>
          </div>
        </div>
        <div class="menu-R1t1Sb">
          <div class="rectangle-1-H4RFxd"></div>
          <div class="c2-a-demander-un-prt-H4RFxd">
            <div class="rectangle-3-blMRPf"></div>
            <div class="demander-un-prt-blMRPf montserrat-medium-white-14px">DEMANDER UN PRÊT</div>
          </div>
          <div class="c2-a-numro-de-tlphone-H4RFxd">
            <div class="composant-5-1-9xPBXe">
              <div class="rectangle-2-K3x855 border-1px-web-orange"></div>
            </div>
            <div class="groupe-3-9xPBXe">
              <div class="groupe-2-9YOPxs"><img class="trac-3-D3WxBm" src="img/trac--3-11@1x.png" /></div>
              <img class="trac-4-9YOPxs" src="img/trac--4-10@1x.png" /><img
                class="trac-5-9YOPxs"
                src="img/trac--5-10@1x.png"
              /><img class="trac-6-9YOPxs" src="img/trac--6-10@1x.png" />
            </div>
            <div class="x32-63-677-659-9xPBXe montserrat-medium-dove-gray-14px">+32 63 677 659</div>
          </div>
          <div class="contact-H4RFxd"><div class="contact-nduFft montserrat-medium-dove-gray-14px">Contact</div></div>
          <div class="notrephilosophie-H4RFxd">
            <div class="notre-philosophie-G5KCdE montserrat-medium-dove-gray-14px">Notre philosophie</div>
          </div>
          <div class="crdits-H4RFxd smart-layers-pointers">
            <div class="crdits-T6FT1E montserrat-medium-web-orange-14px">Crédits</div>
          </div>
          <div class="picto-home-H4RFxd"><img class="trac-2-t1M84m" src="img/trac--2-10@1x.png" /></div>
          <div class="active-H4RFxd"></div>
          <img class="logo-espace-crdits-H4RFxd" src="img/image-1-10@1x.png" />
        </div>
      </div>
      <div class="simulationdepret-VuCvfX animate-enter2">
        <div class="rectangle-417-6xdY0f"></div>
        <p class="la-simulation-r-tation-du-crdit-6xdY0f montserrat-light-white-12px">
          La simulation réalisée avec l’outil n’est pas considérée comme une offre <br />et/ou une acceptation du
          crédit.
        </p>
        <div class="c2-a-demande-de-credit-6xdY0f animate-enter">
          <img class="trac-94-SqVq8d" src="img/trac--94-10@1x.png" />
          <div class="demande-de-crdit-SqVq8d montserrat-medium-white-14px">DEMANDE DE CRÉDIT</div>
        </div>
        <div class="dure-60-mois-6xdY0f montserrat-bold-white-14px-2">
          <span class="span0-ApaAIj montserrat-light-white-14px">Durée :</span
          ><span class="span1-ApaAIj montserrat-light-white-10px">&nbsp;</span
          ><span class="span2-ApaAIj montserrat-bold-white-18px">60 mois</span>
        </div>
        <div class="taeg-595-6xdY0f montserrat-bold-white-14px-2">
          <span class="span0-YjBo83 montserrat-light-white-14px">TAEG :</span
          ><span class="span1-YjBo83 montserrat-light-white-10px">&nbsp;</span
          ><span class="span2-YjBo83 montserrat-bold-white-18px">5,95%*</span>
        </div>
        <p class="intrts-payer-2330-6xdY0f montserrat-bold-white-14px-2">
          <span class="span0-M7Puvg montserrat-light-white-14px">Intérêts à payer :</span
          ><span class="span1-M7Puvg montserrat-light-white-10px">&nbsp;</span
          ><span class="span2-M7Puvg montserrat-bold-white-18px">2.330€</span>
        </p>
        <p class="total-rembourser-14000-6xdY0f montserrat-bold-white-14px-2">
          <span class="span0-PWTMQg montserrat-light-white-14px">Total à rembourser : </span
          ><span class="span1-PWTMQg montserrat-bold-white-18px">14.000€</span>
        </p>
        <div class="x52623-6xdY0f montserrat-bold-web-orange-50px-2">
          <span class="span0-E3wJQQ montserrat-bold-web-orange-50px">526</span
          ><span class="span1-E3wJQQ montserrat-bold-web-orange-36px">,23</span
          ><span class="span2-E3wJQQ montserrat-bold-web-orange-50px">€</span>
        </div>
        <div class="mensualits-6xdY0f montserrat-medium-white-14px">Mensualités</div>
        <div class="dure-6xdY0f">
          <div class="rectangle-420-OH2xwA border-1px-white"></div>
          <div class="entrez-une-dure-OH2xwA montserrat-light-white-12px">Entrez une durée</div>
          <div class="dure-OH2xwA montserrat-medium-white-14px">Durée</div>
        </div>
        <div class="montant-6xdY0f">
          <div class="rectangle-419-oj4poj border-1px-white"></div>
          <div class="entrez-un-montant-oj4poj montserrat-light-white-12px">Entrez un montant</div>
          <div class="montant-oj4poj montserrat-medium-white-14px">Montant</div>
        </div>
        <div class="simulez-votre-crdit-6xdY0f montserrat-bold-white-32px animate-enter1">Simulez votre crédit</div>
      </div>
      <div class="regroupement-de-crdits-VuCvfX montserrat-bold-nevada-60px">Regroupement <br />de crédits</div>
      <div class="taeg-partir-de-595-VuCvfX montserrat-bold-web-orange-18px">
        <span class="span0-I93JSu montserrat-medium-web-orange-18px">TAEG à partir de </span
        ><span class="span1-I93JSu montserrat-bold-web-orange-40px">5,95%*</span>
      </div>
      <div class="tous-vos-prts-e-us-pouvez-ainsi-VuCvfX montserrat-light-tundora-24px">
        <span class="span0-DhHLxJ montserrat-bold-tundora-24px">Tous vos prêts en un !<br /></span
        ><span class="span1-DhHLxJ montserrat-light-tundora-16px"><br /></span
        ><span class="span2-DhHLxJ montserrat-light-tundora-20px-2"
          >Le regroupement de crédits vous permet de rassembler plusieurs prêts personnels (travaux, auto, etc) en un
          seul. <br /><br />En regroupant vos crédits, vous n’avez qu’un seul taux d’intérêt unique et une seule
          mensualité. <br /><br />Vous pouvez ainsi mieux gérer votre budget.</span
        >
      </div>
      <p class="taux-prfrentiel-socit-de-crdit-VuCvfX montserrat-light-web-orange-12px">
        *Taux préférentiel, sous réserve d’acceptation du dossier par la société de crédit.
      </p>
      <div class="footer-VuCvfX">
        <div class="rectangle-245-M9dLxt"></div>
        <div class="rectangle-244-M9dLxt"></div>
        <p class="courtier-spcial-et-en-belgique-M9dLxt montserrat-light-white-10px">
          Courtier spécialisé dans les crédits personnels, les regroupements de crédits et les crédits entreprises au
          Luxembourg et en Belgique.
        </p>
        <p class="mentions-lgales-nication-a3-com-M9dLxt montserrat-light-celeste-12px">
          Mentions légales - Gestion des données - CGU<br />©2021 - Agence de communication A3COM
        </p>
        <img class="logo-espace-credit-n-M9dLxt" src="img/logo-espace-credit-n-10@1x.png" />
        <div class="linkedin-M9dLxt"><img class="linked-in-LBvHcZ" src="img/linkedin-11@1x.png" /></div>
        <div class="facebook-M9dLxt"><img class="trac-35-YaHFVr" src="img/trac--35-10@1x.png" /></div>
        <div class="groupe-171-M9dLxt">
          <p class="grand-rue-5b-67-u-ve-9h00-18h00-25RgQK montserrat-light-white-14px">
            Grand-Rue, 5<br />B-6791 Athus<br />BELGIQUE<br />Lu.-Ve. : 9h00 - 18h00
          </p>
          <img class="trac-251-25RgQK" src="img/trac--251-10@1x.png" />
          <div class="groupe-112-25RgQK">
            <img class="trac-28-TVExIW" src="img/trac--28-10@1x.png" /><img
              class="trac-29-TVExIW"
              src="img/trac--29-10@1x.png"
            />
          </div>
        </div>
        <div class="groupe-170-M9dLxt">
          <p class="x32-63-677-65932-352-691-625-137-hQmOdZ montserrat-light-white-14px">
            +32 63 677 659<br />+32 4 74 120 507<br />+352 691 625 137
          </p>
          <img class="trac-247-hQmOdZ" src="img/trac--247-10@1x.png" /><img
            class="trac-248-hQmOdZ"
            src="img/trac--248-10@1x.png"
          /><img class="trac-249-hQmOdZ" src="img/trac--248-10@1x.png" /><img
            class="trac-250-hQmOdZ"
            src="img/trac--250-10@1x.png"
          />
          <div class="composant-31-32-hQmOdZ">
            <div class="creditespace-creditsbe-Pj9wER montserrat-light-white-14px">credit@espace-credits.be</div>
          </div>
        </div>
        <div class="composant-90-24-M9dLxt">
          <div class="prt-perso-eAwOc0 montserrat-bold-white-14px">Prêt perso</div>
        </div>
        <div class="composant-92-24-M9dLxt">
          <div class="prt-travaux-QIGp9R montserrat-bold-white-14px">Prêt travaux</div>
        </div>
        <div class="composant-91-19-M9dLxt">
          <div class="prt-auto-7aIlmK montserrat-bold-white-14px">Prêt auto</div>
        </div>
        <div class="composant-93-24-M9dLxt">
          <div class="regroupement-UxZHbX montserrat-bold-white-14px">Regroupement</div>
        </div>
        <div class="composant-89-24-M9dLxt">
          <div class="prt-moto-gMIOuF montserrat-bold-white-14px">Prêt moto</div>
        </div>
        <div class="composant-94-39-M9dLxt">
          <div class="entreprise-xqI4qj montserrat-bold-white-14px">Entreprise</div>
        </div>
        <div class="composant-94-40-M9dLxt">
          <div class="carte-de-crdit-xD1Nk9 montserrat-bold-white-14px">Carte de crédit</div>
        </div>
        <div class="composant-88-24-M9dLxt">
          <div class="prt-mobilit-HUQFK1 montserrat-bold-white-14px">Prêt mobilité</div>
        </div>
        <div
          class="attention-empru-ussi-de-largent-M9dLxt montserrat-bold-silver-chalice-20px animate-enter3"
          show-on-scroll
        >
          Attention : emprunter de l’argent coûte aussi de l’argent
        </div>
      </div>
      <div class="rectangle-507-VuCvfX"></div>
      <p class="le-regroupement-ieurs-avantages-VuCvfX montserrat-light-tundora-16px">
        Le regroupement de crédit offre plusieurs avantages.
      </p>
      <p class="vous-avez-besoi-t-votre-service-VuCvfX montserrat-light-tundora-16px">
        Vous avez besoin de plus d’informations concernant <br />les regroupements de crédits, les taux ou des questions
        ?<br />Notre équipe est à votre service.
      </p>
      <div class="groupe-292-VuCvfX">
        <img class="trac-457-xxiPNh" src="img/trac--240-1@1x.png" />
        <div class="un-seul-interlocuteur-xxiPNh montserrat-medium-tundora-16px">Un seul interlocuteur</div>
      </div>
      <div class="groupe-293-VuCvfX">
        <img class="trac-458-jD7pbC" src="img/trac--240-1@1x.png" />
        <div class="une-seule-mensualit-jD7pbC montserrat-medium-tundora-16px">Une seule mensualité</div>
      </div>
      <div class="groupe-294-VuCvfX">
        <img class="trac-460-bX85sz" src="img/trac--240-1@1x.png" />
        <p class="un-seul-taux-dintrt-fixe-bX85sz montserrat-medium-tundora-16px">Un seul taux d’intérêt fixe</p>
      </div>
      <div class="groupe-295-VuCvfX">
        <img class="trac-459-T3fiRZ" src="img/trac--240-1@1x.png" />
        <div class="diminution-des-rges-mensuelles-T3fiRZ montserrat-medium-tundora-16px">
          Diminution des charges mensuelles
        </div>
      </div>
      <div class="composant-43-2-VuCvfX">
        <div class="rectangle-63-0NMTG3"></div>
        <div class="nous-contacter-0NMTG3 montserrat-medium-white-14px">NOUS CONTACTER</div>
      </div>
    </div>
    <script>
      function ShowOnScroll() {
        this.toShow = [];
        this.nextEventY = undefined;
      }

      ShowOnScroll.prototype.show = function (e) {
        e.style.display = "";
      };

      ShowOnScroll.prototype.hide = function (e) {
        e.style.display = "none";
      };

      ShowOnScroll.prototype.getTop = function (e) {
        if (e.Top != undefined && e.Top != 0) {
          return e.Top;
        }
        var top = 0;
        var iter = e;
        do {
          top += iter.offsetTop || 0;
          iter = iter.offsetParent;
        } while (iter);
        e.Top = top;
        return top;
      };

      ShowOnScroll.prototype.onScroll = function () {
        var screenBottom = window.pageYOffset + window.innerHeight;
        if (this.nextEventY == undefined || this.nextEventY > screenBottom) {
          return;
        }
        this.nextEventY = undefined;
        for (var i = 0; i < this.toShow.length; i++) {
          var e = this.toShow[i];
          var top = this.getTop(e);
          if (top < screenBottom) {
            this.show(e);
            this.toShow.shift();
            i--;
          } else {
            this.nextEventY = top;
            break;
          }
        }
      };

      ShowOnScroll.prototype.resetScrolling = function () {
        // Clear state
        var screenBottom = window.pageYOffset + window.innerHeight;
        for (var i = 0; i < this.toShow.length; i++) {
          var e = this.toShow[i];
          this.show(e);
        }
        this.toShow = [];
        this.nextEventY == undefined;

        // Collect items
        var itemsToShowOnScroll = Array.prototype.slice.call(document.getElementsByTagName("*"));
        itemsToShowOnScroll = itemsToShowOnScroll.filter(function (e) {
          return e.getAttribute("show-on-scroll") != undefined;
        });
        var getTop = this.getTop;
        itemsToShowOnScroll.sort(function (a, b) {
          return getTop(a) - getTop(b);
        });
        for (var i = 0; i < itemsToShowOnScroll.length; i++) {
          var e = itemsToShowOnScroll[i];
          var top = this.getTop(e);
          if (top < screenBottom) {
            continue;
          }
          this.toShow.push(e);
          this.hide(e);
          this.nextEventY = this.nextEventY != undefined ? this.nextEventY : top;
        }
      };

      ShowOnScroll.prototype.handleEvent = function (e) {
        switch (e.type) {
          case "scroll":
            this.onScroll();
            break;
          case "resize":
            this.resetScrolling();
            break;
        }
      };

      ShowOnScroll.prototype.init = function () {
        this.resetScrolling();
        window.addEventListener("scroll", this);
        window.addEventListener("resize", this);
      };

      // After anima-src
      setTimeout(function () {
        var instShowOnScroll = new ShowOnScroll();
        instShowOnScroll.init();
      }, 250);
    </script>
  </body>
</html>
