<!DOCTYPE html>
<html>
  <head>

  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="08-regroupement-de-credits-tablet" />
    <div class="x08-regroupement-de-credits-tablet screen">
      <div class="menu-EsOlRV">
        <div class="rectangle-399-vX8Kzx"></div>
        <img class="image-1-vX8Kzx" src="img/image-1-10@1x.png" />
        <div class="rectangle-16-vX8Kzx"></div>
        <div class="rectangle-400-vX8Kzx"></div>
        <div class="composant-99-9-vX8Kzx">
          <div class="rectangle-373-WzJv5V"></div>
          <div class="rectangle-374-WzJv5V"></div>
          <div class="rectangle-375-WzJv5V"></div>
        </div>
        <div class="composant-2-16-vX8Kzx">
          <div class="rectangle-3-ikG8xW"></div>
          <div class="demander-un-prt-ikG8xW montserrat-medium-white-14px">DEMANDER UN PRÊT</div>
        </div>
        <div class="groupe-dfilant-4-vX8Kzx">
          <div class="groupe-165-yBnqW8">
            <div class="composant-10-16-ish2jm">
              <img class="trac-9-snUMH6" src="img/trac--9-31@1x.png" />
              <div class="prt-perso-snUMH6 montserrat-bold-dove-gray-12px">PRÊT PERSO</div>
            </div>
            <div class="composant-11-16-ish2jm">
              <div class="groupe-4-XGYUvM">
                <img class="trac-11-9uCvkW" src="img/trac--11-17@1x.png" />
                <div class="ellipse-1-9uCvkW"></div>
                <div class="ellipse-2-9uCvkW"></div>
              </div>
              <div class="prt-auto-XGYUvM montserrat-bold-dove-gray-12px">PRÊT AUTO</div>
            </div>
            <div class="composant-12-16-ish2jm">
              <div class="groupe-8-a9kTPd">
                <div class="groupe-7-pFJtkY">
                  <div class="groupe-5-MhIOCI"><img class="trac-12-mZZ1GC" src="img/trac--12-11@1x.png" /></div>
                  <div class="groupe-6-MhIOCI"><img class="trac-13-QRGg7x" src="img/trac--13-11@1x.png" /></div>
                </div>
              </div>
              <div class="prt-travaux-a9kTPd montserrat-bold-dove-gray-12px">PRÊT TRAVAUX</div>
            </div>
            <div class="composant-13-16-ish2jm">
              <div class="groupe-10-XnxMOm">
                <img class="trac-15-BgxjPe" src="img/trac--15-20@1x.png" />
                <div class="groupe-9-BgxjPe">
                  <img class="trac-16-4xfwdL" src="img/trac--16-20@1x.png" /><img
                    class="trac-17-4xfwdL"
                    src="img/trac--17-20@1x.png"
                  /><img class="trac-18-4xfwdL" src="img/trac--18-20@1x.png" /><img
                    class="trac-19-4xfwdL"
                    src="img/trac--19-20@1x.png"
                  />
                </div>
              </div>
              <div class="regroupement-XnxMOm montserrat-bold-web-orange-12px">REGROUPEMENT</div>
            </div>
            <div class="composant-14-16-ish2jm">
              <div class="groupe-13-nJLW3X">
                <div class="groupe-12-xIWxmK"><img class="trac-20-iBMDLx" src="img/trac--20-11@1x.png" /></div>
              </div>
              <div class="entreprise-nJLW3X montserrat-bold-dove-gray-12px">ENTREPRISE</div>
            </div>
            <div class="composant-83-19-ish2jm">
              <div class="prt-mobilit-uwAKi8 montserrat-bold-dove-gray-12px">PRÊT MOBILITÉ</div>
              <img class="trac-235-uwAKi8" src="img/trac--235-20@1x.png" />
            </div>
            <div class="composant-87-16-ish2jm">
              <div class="groupe-96-m3mxbw"><img class="trac-236-Rr2DnH" src="img/trac--236-10@1x.png" /></div>
              <div class="prt-moto-m3mxbw montserrat-bold-dove-gray-12px">PRÊT MOTO</div>
            </div>
            <div class="composant-95-24-ish2jm">
              <div class="groupe-132-YYBjji">
                <img class="trac-341-yS46xP" src="img/trac--341-10@1x.png" /><img
                  class="trac-342-yS46xP"
                  src="img/trac--342-10@1x.png"
                /><img class="trac-343-yS46xP" src="img/trac--343-10@1x.png" />
              </div>
              <div class="carte-de-crdit-YYBjji montserrat-bold-dove-gray-12px">CARTE DE CRÉDIT</div>
            </div>
          </div>
        </div>
      </div>
      <div class="regroupement-de-crdits-EsOlRV montserrat-bold-nevada-36px">Regroupement de crédits</div>
      <p class="taeg-partir-de-595-EsOlRV montserrat-bold-web-orange-16px">
        <span class="span0-nbgOF1 montserrat-medium-web-orange-16px">TAEG à partir de</span
        ><span class="span1-nbgOF1 montserrat-medium-web-orange-24px">&nbsp;</span
        ><span class="span2-nbgOF1 montserrat-bold-web-orange-36px">5,95%*</span>
      </p>
      <div class="composant-114-13-EsOlRV">
        <div class="rectangle-426-X8gOOf"></div>
        <div class="simuler-un-prt-X8gOOf montserrat-medium-white-16px">SIMULER UN PRÊT</div>
      </div>
      <div class="tous-vos-prts-e-us-pouvez-ainsi-EsOlRV montserrat-light-tundora-20px">
        <span class="span0-yfImL9 montserrat-bold-tundora-20px">Tous vos prêts en un !<br /></span
        ><span class="span1-yfImL9 montserrat-light-tundora-16px"
          ><br />Le regroupement de crédits vous permet de rassembler plusieurs prêts personnels (travaux, auto, etc) en
          un seul. <br /><br />En regroupant vos crédits, vous n’avez qu’un seul taux d’intérêt unique et une seule
          mensualité. <br /><br />Vous pouvez ainsi mieux gérer votre budget.</span
        >
      </div>
      <p class="taux-prfrentiel-socit-de-crdit-EsOlRV montserrat-light-web-orange-12px">
        *Taux préférentiel, sous réserve d’acceptation du dossier par la société de crédit.
      </p>
      <div class="rectangle-500-EsOlRV"></div>
      <div class="simulez-votre-crdit-EsOlRV montserrat-bold-white-32px animate-enter4">Simulez votre crédit</div>
      <div class="composant-96-18-EsOlRV">
        <div class="rectangle-290-BTeNGr border-1px-white"></div>
        <div class="entrez-un-montant-BTeNGr montserrat-light-white-12px">Entrez un montant</div>
      </div>
      <div class="montant-EsOlRV montserrat-medium-white-14px">Montant</div>
      <div class="rectangle-502-EsOlRV border-1px-white"></div>
      <div class="slectionnez-une-dure-EsOlRV montserrat-light-white-12px">Sélectionnez une durée</div>
      <div class="dure-EsOlRV montserrat-medium-white-14px">Durée</div>
      <div class="mensualits-EsOlRV montserrat-medium-white-14px">Mensualités</div>
      <div class="x52623-EsOlRV montserrat-bold-web-orange-36px-2">
        <span class="span0-SbxdxN montserrat-bold-web-orange-36px">526</span
        ><span class="span1-SbxdxN montserrat-bold-web-orange-24px">,23</span
        ><span class="span2-SbxdxN montserrat-bold-web-orange-36px">€</span>
      </div>
      <p class="total-rembourser-14000-EsOlRV montserrat-bold-white-14px-2">
        <span class="span0-gmwP42 montserrat-light-white-14px">Total à rembourser : </span
        ><span class="span1-gmwP42 montserrat-bold-white-18px">14.000€</span>
      </p>
      <p class="intrts-payer-2330-EsOlRV montserrat-bold-white-14px-2">
        <span class="span0-ijeHjb montserrat-light-white-14px">Intérêts à payer :</span
        ><span class="span1-ijeHjb montserrat-light-white-10px">&nbsp;</span
        ><span class="span2-ijeHjb montserrat-bold-white-18px">2.330€</span>
      </p>
      <div class="taeg-248-EsOlRV montserrat-bold-white-14px-2">
        <span class="span0-xSseAz montserrat-light-white-14px">TAEG :</span
        ><span class="span1-xSseAz montserrat-light-white-10px">&nbsp;</span
        ><span class="span2-xSseAz montserrat-bold-white-18px">2,48%*</span>
      </div>
      <div class="dure-60-mois-EsOlRV montserrat-bold-white-14px-2">
        <span class="span0-HRjxRs montserrat-light-white-14px">Durée :</span
        ><span class="span1-HRjxRs montserrat-light-white-10px">&nbsp;</span
        ><span class="span2-HRjxRs montserrat-bold-white-18px">60 mois</span>
      </div>
      <div class="composant-16-15-EsOlRV">
        <img class="trac-94-q7rAix" src="img/trac--94-10@1x.png" />
        <div class="demande-de-crdit-q7rAix montserrat-medium-white-14px">DEMANDE DE CRÉDIT</div>
      </div>
      <p class="la-simulation-r-tation-du-crdit-EsOlRV montserrat-light-white-10px">
        La simulation réalisée avec l’outil n’est pas considérée comme une offre et/ou une acceptation du crédit.
      </p>
      <div class="rectangle-504-EsOlRV"></div>
      <p class="le-regroupement-ieurs-avantages-EsOlRV montserrat-light-tundora-16px">
        Le regroupement de crédit offre plusieurs avantages.
      </p>
      <div class="groupe-367-EsOlRV">
        <img class="trac-453-pFcFMR" src="img/trac--240-1@1x.png" />
        <div class="un-seul-interlocuteur-pFcFMR montserrat-medium-tundora-16px">Un seul interlocuteur</div>
      </div>
      <div class="groupe-368-EsOlRV">
        <img class="trac-454-HbBp1c" src="img/trac--240-1@1x.png" />
        <div class="une-seule-mensualit-HbBp1c montserrat-medium-tundora-16px">Une seule mensualité</div>
      </div>
      <div class="groupe-370-EsOlRV">
        <img class="trac-455-cM1jxe" src="img/trac--240-1@1x.png" />
        <p class="un-seul-taux-dintrt-fixe-cM1jxe montserrat-medium-tundora-16px">Un seul taux d’intérêt fixe</p>
      </div>
      <div class="groupe-369-EsOlRV">
        <img class="trac-456-T8CtD3" src="img/trac--240-1@1x.png" />
        <div class="diminution-des-rges-mensuelles-T8CtD3 montserrat-medium-tundora-16px">
          Diminution des charges mensuelles
        </div>
      </div>
      <p class="vous-avez-besoi-t-votre-service-EsOlRV montserrat-light-tundora-16px">
        Vous avez besoin de plus d’informations concernant les regroupements de crédits, les taux ou des questions ?<br />Notre
        équipe est à votre service.
      </p>
      <div class="composant-38-13-EsOlRV">
        <div class="rectangle-63-AwCZA0"></div>
        <div class="nous-contacter-AwCZA0 montserrat-medium-white-14px">NOUS CONTACTER</div>
      </div>
      <div class="attention-empru-ussi-de-largent-EsOlRV montserrat-bold-silver-chalice-18px">
        Attention : emprunter de l’argent coûte aussi de l’argent
      </div>
      <div class="rectangle-505-EsOlRV"></div>
      <img class="logo-espace-credit-n-EsOlRV" src="img/logo-espace-credit-n-26@1x.png" />
      <div class="groupe-203-EsOlRV">
        <p class="x32-63-677-65932-352-691-625-137-jjHatW montserrat-light-white-14px">
          +32 63 677 659<br />+32 4 74 120 507<br />+352 691 625 137
        </p>
        <img class="trac-345-jjHatW" src="img/trac--247-10@1x.png" /><img
          class="trac-346-jjHatW"
          src="img/trac--248-10@1x.png"
        /><img class="trac-347-jjHatW" src="img/trac--248-10@1x.png" /><img
          class="trac-348-jjHatW"
          src="img/trac--250-11@1x.png"
        />
        <div class="composant-31-31-jjHatW">
          <div class="creditespace-creditsbe-hXiBsb montserrat-light-white-14px">credit@espace-credits.be</div>
        </div>
      </div>
      <div class="groupe-204-EsOlRV">
        <p class="grand-rue-5b-67-u-ve-9h00-18h00-j1nVkW montserrat-light-white-14px">
          Grand-Rue, 5<br />B-6791 Athus<br />BELGIQUE<br />Lu.-Ve. : 9h00 - 18h00
        </p>
        <img class="trac-349-j1nVkW" src="img/trac--251-10@1x.png" />
        <div class="groupe-134-j1nVkW">
          <img class="trac-28-wwp18N" src="img/trac--28-10@1x.png" /><img
            class="trac-29-wwp18N"
            src="img/trac--29-10@1x.png"
          />
        </div>
      </div>
      <div class="composant-32-24-EsOlRV"><img class="trac-35-O8T5lb" src="img/trac--35-10@1x.png" /></div>
      <div class="composant-67-24-EsOlRV"><img class="linked-in-IJsRK6" src="img/linkedin-10@1x.png" /></div>
      <div class="rectangle-506-EsOlRV"></div>
      <p class="mentions-lgales-nication-a3-com-EsOlRV montserrat-light-celeste-12px">
        Mentions légales -&nbsp;&nbsp;Gestion des données - CGU<br />©2021 - Agence de communication A3COM
      </p>
    </div>
    <script>
      function ShowOnScroll() {
        this.toShow = [];
        this.nextEventY = undefined;
      }

      ShowOnScroll.prototype.show = function (e) {
        e.style.display = "";
      };

      ShowOnScroll.prototype.hide = function (e) {
        e.style.display = "none";
      };

      ShowOnScroll.prototype.getTop = function (e) {
        if (e.Top != undefined && e.Top != 0) {
          return e.Top;
        }
        var top = 0;
        var iter = e;
        do {
          top += iter.offsetTop || 0;
          iter = iter.offsetParent;
        } while (iter);
        e.Top = top;
        return top;
      };

      ShowOnScroll.prototype.onScroll = function () {
        var screenBottom = window.pageYOffset + window.innerHeight;
        if (this.nextEventY == undefined || this.nextEventY > screenBottom) {
          return;
        }
        this.nextEventY = undefined;
        for (var i = 0; i < this.toShow.length; i++) {
          var e = this.toShow[i];
          var top = this.getTop(e);
          if (top < screenBottom) {
            this.show(e);
            this.toShow.shift();
            i--;
          } else {
            this.nextEventY = top;
            break;
          }
        }
      };

      ShowOnScroll.prototype.resetScrolling = function () {
        // Clear state
        var screenBottom = window.pageYOffset + window.innerHeight;
        for (var i = 0; i < this.toShow.length; i++) {
          var e = this.toShow[i];
          this.show(e);
        }
        this.toShow = [];
        this.nextEventY == undefined;

        // Collect items
        var itemsToShowOnScroll = Array.prototype.slice.call(document.getElementsByTagName("*"));
        itemsToShowOnScroll = itemsToShowOnScroll.filter(function (e) {
          return e.getAttribute("show-on-scroll") != undefined;
        });
        var getTop = this.getTop;
        itemsToShowOnScroll.sort(function (a, b) {
          return getTop(a) - getTop(b);
        });
        for (var i = 0; i < itemsToShowOnScroll.length; i++) {
          var e = itemsToShowOnScroll[i];
          var top = this.getTop(e);
          if (top < screenBottom) {
            continue;
          }
          this.toShow.push(e);
          this.hide(e);
          this.nextEventY = this.nextEventY != undefined ? this.nextEventY : top;
        }
      };

      ShowOnScroll.prototype.handleEvent = function (e) {
        switch (e.type) {
          case "scroll":
            this.onScroll();
            break;
          case "resize":
            this.resetScrolling();
            break;
        }
      };

      ShowOnScroll.prototype.init = function () {
        this.resetScrolling();
        window.addEventListener("scroll", this);
        window.addEventListener("resize", this);
      };

      // After anima-src
      setTimeout(function () {
        var instShowOnScroll = new ShowOnScroll();
        instShowOnScroll.init();
      }, 250);
    </script>
  </body>
</html>
