<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1280, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/08-regroupement-de-credits-small-desktop.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
    <meta name="author" content="AnimaApp.com - Design to code, Automated." />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="08-regroupement-de-credits-small-desktop" />
    <div class="x08-regroupement-de-credits-small-desktop screen">
      <div class="regroupementde-crdits-Vati0G montserrat-bold-nevada-60px">Regroupement<br />de crédits</div>
      <div class="tous-vos-prts-e-us-pouvez-ainsi-Vati0G montserrat-light-tundora-20px">
        <span class="span0-5RsQZk montserrat-bold-tundora-20px">Tous vos prêts en un !<br /></span
        ><span class="span1-5RsQZk montserrat-light-tundora-16px"
          ><br />Le regroupement de crédits vous permet de rassembler plusieurs prêts personnels (travaux, auto, etc) en
          un seul. <br /><br />En regroupant vos crédits, vous n’avez qu’un seul taux d’intérêt unique et une seule
          mensualité. <br /><br />Vous pouvez ainsi mieux gérer votre budget.</span
        >
      </div>
      <div class="rectangle-61-Vati0G"></div>
      <p class="le-regroupement-ieurs-avantages-Vati0G montserrat-light-tundora-16px">
        Le regroupement de crédit offre plusieurs avantages.
      </p>
      <p class="vous-avez-besoi-t-votre-service-Vati0G montserrat-light-tundora-16px">
        Vous avez besoin de plus d’informations concernant <br />les regroupements de crédits, les taux ou des questions
        ?<br />Notre équipe est à votre service.
      </p>
      <div class="groupe-296-Vati0G">
        <img class="trac-57-xaDnGJ" src="img/trac--240-1@1x.png" />
        <div class="un-seul-interlocuteur-xaDnGJ montserrat-medium-tundora-16px">Un seul interlocuteur</div>
      </div>
      <div class="groupe-297-Vati0G">
        <img class="trac-58-pL1hsa" src="img/trac--240-1@1x.png" />
        <div class="une-seule-mensualit-pL1hsa montserrat-medium-tundora-16px">Une seule mensualité</div>
      </div>
      <div class="groupe-298-Vati0G">
        <img class="trac-59-yGWPZI" src="img/trac--240-1@1x.png" />
        <p class="un-seul-taux-dintrt-fixe-yGWPZI montserrat-medium-tundora-16px">Un seul taux d’intérêt fixe</p>
      </div>
      <div class="groupe-299-Vati0G">
        <img class="trac-73-IftB08" src="img/trac--240-1@1x.png" />
        <div class="diminution-des-rges-mensuelles-IftB08 montserrat-medium-tundora-16px">
          Diminution des charges mensuelles
        </div>
      </div>
      <div class="composant-43-1-Vati0G">
        <div class="rectangle-63-slAajY"></div>
        <div class="nous-contacter-slAajY montserrat-medium-white-14px">NOUS CONTACTER</div>
      </div>
      <div class="attention-empru-ussi-de-largent-Vati0G montserrat-bold-silver-chalice-20px">
        Attention : emprunter de l’argent coûte aussi de l’argent
      </div>
      <div class="rectangle-187-Vati0G"></div>
      <div class="simulez-votre-crdit-Vati0G montserrat-bold-white-32px">Simulez votre crédit</div>
      <div class="rectangle-189-Vati0G border-1px-white"></div>
      <div class="rectangle-188-Vati0G border-1px-white"></div>
      <p class="total-rembourser-14000-Vati0G montserrat-bold-white-14px-2">
        <span class="span0-BvqY4J montserrat-light-white-14px">Total à rembourser : </span
        ><span class="span1-BvqY4J montserrat-bold-white-18px">14.000€</span>
      </p>
      <p class="intrts-payer-2330-Vati0G montserrat-bold-white-14px-2">
        <span class="span0-T08L9F montserrat-light-white-14px">Intérêts à payer :</span
        ><span class="span1-T08L9F montserrat-light-white-10px">&nbsp;</span
        ><span class="span2-T08L9F montserrat-bold-white-18px">2.330€</span>
      </p>
      <div class="taeg-595-Vati0G montserrat-bold-white-14px-2">
        <span class="span0-uoTwd7 montserrat-light-white-14px">TAEG :</span
        ><span class="span1-uoTwd7 montserrat-light-white-10px">&nbsp;</span
        ><span class="span2-uoTwd7 montserrat-bold-white-18px">5,95%*</span>
      </div>
      <div class="dure-60-mois-Vati0G montserrat-bold-white-14px-2">
        <span class="span0-JLdfti montserrat-light-white-14px">Durée :</span
        ><span class="span1-JLdfti montserrat-light-white-10px">&nbsp;</span
        ><span class="span2-JLdfti montserrat-bold-white-18px">60 mois</span>
      </div>
      <div class="entrez-un-montant-Vati0G montserrat-light-white-12px">Entrez un montant</div>
      <div class="entrez-une-dure-Vati0G montserrat-light-white-12px">Entrez une durée</div>
      <div class="montant-Vati0G montserrat-medium-white-14px">Montant</div>
      <div class="mensualits-Vati0G montserrat-medium-white-14px">Mensualités</div>
      <div class="x52623-Vati0G montserrat-bold-web-orange-36px-2">
        <span class="span0-NBXUU6 montserrat-bold-web-orange-36px">526</span
        ><span class="span1-NBXUU6 montserrat-bold-web-orange-24px">,23</span
        ><span class="span2-NBXUU6 montserrat-bold-web-orange-36px">€</span>
      </div>
      <div class="dure-Vati0G montserrat-medium-white-14px">Durée</div>
      <div class="composant-37-2-Vati0G">
        <div class="rectangle-60-UAD6ak"></div>
        <div class="faire-une-demande-UAD6ak montserrat-medium-white-14px">FAIRE UNE DEMANDE</div>
      </div>
      <p class="la-simulation-r-tation-du-crdit-Vati0G montserrat-light-white-12px">
        La simulation réalisée avec l’outil n’est pas considérée <br />comme une offre et/ou une acceptation du crédit.
      </p>
      <div class="taeg-partir-de-595-Vati0G montserrat-bold-web-orange-18px">
        <span class="span0-0E5LoB montserrat-medium-web-orange-18px">TAEG à partir de </span
        ><span class="span1-0E5LoB montserrat-bold-web-orange-40px">5,95%*</span>
      </div>
      <p class="taux-prfrentiel-socit-de-crdit-Vati0G montserrat-light-web-orange-12px">
        *Taux préférentiel, sous réserve d’acceptation du dossier par la société de crédit.
      </p>
      <div class="groupe-139-Vati0G">
        <div class="rectangle-1-B9dfMy"></div>
        <img class="image-1-B9dfMy" src="img/image-1-10@1x.png" />
        <div class="composant-4-8-B9dfMy">
          <div class="crdits-MVLuBE montserrat-medium-web-orange-14px">Crédits</div>
        </div>
        <div class="composant-8-8-B9dfMy">
          <div class="notre-philosophie-75Jarx montserrat-medium-dove-gray-14px">Notre philosophie</div>
        </div>
        <div class="composant-9-8-B9dfMy">
          <div class="contact-AGH02N montserrat-medium-dove-gray-14px">Contact</div>
        </div>
        <div class="composant-7-8-B9dfMy"><img class="trac-2-cx3SKz" src="img/trac--2-10@1x.png" /></div>
        <div class="composant-6-8-B9dfMy">
          <div class="composant-5-1-uQEMhc">
            <div class="rectangle-2-x8Nadt border-1px-web-orange"></div>
          </div>
          <div class="groupe-3-uQEMhc">
            <div class="groupe-2-6Q2eDs"><img class="trac-3-tDXcPH" src="img/trac--3-11@1x.png" /></div>
            <img class="trac-4-6Q2eDs" src="img/trac--4-10@1x.png" /><img
              class="trac-5-6Q2eDs"
              src="img/trac--5-10@1x.png"
            /><img class="trac-6-6Q2eDs" src="img/trac--6-10@1x.png" />
          </div>
          <div class="x32-63-677-659-uQEMhc montserrat-medium-dove-gray-14px">+32 63 677 659</div>
        </div>
        <div class="composant-2-15-B9dfMy">
          <div class="rectangle-3-FLNtrY"></div>
          <div class="demander-un-prt-FLNtrY montserrat-medium-white-14px">DEMANDER UN PRÊT</div>
        </div>
        <div class="rectangle-16-B9dfMy"></div>
        <div class="rectangle-21-B9dfMy"></div>
        <div class="composant-10-15-B9dfMy">
          <img class="trac-9-F0dz2n" src="img/trac--9-19@1x.png" />
          <div class="prt-perso-F0dz2n montserrat-bold-dove-gray-12px">PRÊT PERSO</div>
        </div>
        <div class="composant-11-15-B9dfMy">
          <div class="groupe-4-nJXU1j">
            <img class="trac-11-sXxjcu" src="img/trac--11-17@1x.png" />
            <div class="ellipse-1-sXxjcu"></div>
            <div class="ellipse-2-sXxjcu"></div>
          </div>
          <div class="prt-auto-nJXU1j montserrat-bold-dove-gray-12px">PRÊT AUTO</div>
        </div>
        <div class="composant-12-15-B9dfMy">
          <div class="groupe-8-pT763s">
            <div class="groupe-7-RqztDR">
              <div class="groupe-5-scxBGr"><img class="trac-12-YcsM71" src="img/trac--12-11@1x.png" /></div>
              <div class="groupe-6-scxBGr"><img class="trac-13-5hllCD" src="img/trac--13-11@1x.png" /></div>
            </div>
          </div>
          <div class="prt-travaux-pT763s montserrat-bold-dove-gray-12px">PRÊT TRAVAUX</div>
        </div>
        <div class="composant-13-15-B9dfMy">
          <div class="groupe-10-qVhz6J">
            <img class="trac-15-8c6mbe" src="img/trac--15-20@1x.png" />
            <div class="groupe-9-8c6mbe">
              <img class="trac-16-IHzDv8" src="img/trac--16-20@1x.png" /><img
                class="trac-17-IHzDv8"
                src="img/trac--17-20@1x.png"
              /><img class="trac-18-IHzDv8" src="img/trac--18-20@1x.png" /><img
                class="trac-19-IHzDv8"
                src="img/trac--19-20@1x.png"
              />
            </div>
          </div>
          <div class="regroupement-qVhz6J montserrat-bold-web-orange-12px">REGROUPEMENT</div>
        </div>
        <div class="composant-14-15-B9dfMy">
          <div class="groupe-13-FzdFXm">
            <div class="groupe-12-mwUEoS"><img class="trac-20-4Fr5wD" src="img/trac--20-11@1x.png" /></div>
          </div>
          <div class="entreprise-FzdFXm montserrat-bold-dove-gray-12px">ENTREPRISE</div>
        </div>
        <div class="composant-83-18-B9dfMy">
          <div class="prt-mobilit-o2kZ1V montserrat-bold-dove-gray-12px">PRÊT MOBILITÉ</div>
          <img class="trac-235-o2kZ1V" src="img/trac--235-20@1x.png" />
        </div>
        <div class="composant-87-15-B9dfMy">
          <div class="groupe-96-oVxzEl"><img class="trac-236-Q2FBGf" src="img/trac--236-10@1x.png" /></div>
          <div class="prt-moto-oVxzEl montserrat-bold-dove-gray-12px">PRÊT MOTO</div>
        </div>
        <div class="composant-95-23-B9dfMy">
          <div class="groupe-132-YNJsA5">
            <img class="trac-341-YaUZvk" src="img/trac--341-10@1x.png" /><img
              class="trac-342-YaUZvk"
              src="img/trac--342-10@1x.png"
            /><img class="trac-343-YaUZvk" src="img/trac--343-10@1x.png" />
          </div>
          <div class="carte-de-crdit-YNJsA5 montserrat-bold-dove-gray-12px">CARTE DE CRÉDIT</div>
        </div>
      </div>
      <div class="footer-Vati0G">
        <div class="rectangle-245-hANmWC"></div>
        <div class="rectangle-244-hANmWC"></div>
        <p class="grand-rue-5b-67-u-ve-9h00-18h00-hANmWC montserrat-light-white-14px">
          Grand-Rue, 5<br />B-6791 Athus<br />BELGIQUE<br />Lu.-Ve. : 9h00 - 18h00
        </p>
        <p class="x32-63-677-65932-352-691-625-137-hANmWC montserrat-light-white-14px">
          +32 63 677 659<br />+32 4 74 120 507<br />+352 691 625 137
        </p>
        <p class="courtier-spcial-et-en-belgique-hANmWC montserrat-light-white-10px">
          Courtier spécialisé dans les crédits personnels, les regroupements de crédits et les crédits entreprises au
          Luxembourg et en Belgique.
        </p>
        <p class="mentions-lgales-nication-a3-com-hANmWC montserrat-light-celeste-12px">
          Mentions légales - Gestion des données - CGU<br />©2021 - Agence de communication A3COM
        </p>
        <img class="logo-espace-credit-n-hANmWC" src="img/logo-espace-credit-n-10@1x.png" /><img
          class="trac-247-hANmWC"
          src="img/trac--247-10@1x.png"
        /><img class="trac-248-hANmWC" src="img/trac--248-11@1x.png" /><img
          class="trac-249-hANmWC"
          src="img/trac--248-11@1x.png"
        /><img class="trac-250-hANmWC" src="img/trac--250-11@1x.png" /><img
          class="trac-251-hANmWC"
          src="img/trac--251-10@1x.png"
        />
        <div class="groupe-112-hANmWC">
          <img class="trac-28-Da9sFx" src="img/trac--28-10@1x.png" /><img
            class="trac-29-Da9sFx"
            src="img/trac--29-10@1x.png"
          />
        </div>
        <div class="composant-32-23-hANmWC"><img class="trac-35-10w2HS" src="img/trac--35-10@1x.png" /></div>
        <div class="composant-31-30-hANmWC">
          <div class="creditespace-creditsbe-HzixGi montserrat-light-white-14px">credit@espace-credits.be</div>
        </div>
        <div class="composant-67-23-hANmWC"><img class="linked-in-AfL1HV" src="img/linkedin-10@1x.png" /></div>
        <div class="composant-90-23-hANmWC">
          <div class="prt-perso-xSHsFE montserrat-bold-white-14px">Prêt perso</div>
        </div>
        <div class="composant-92-23-hANmWC">
          <div class="prt-travaux-TeGSWf montserrat-bold-white-14px">Prêt travaux</div>
        </div>
        <div class="composant-91-18-hANmWC">
          <div class="prt-auto-uJr1wq montserrat-bold-white-14px">Prêt auto</div>
        </div>
        <div class="composant-93-23-hANmWC">
          <div class="regroupement-nKrO27 montserrat-bold-white-14px">Regroupement</div>
        </div>
        <div class="composant-89-23-hANmWC">
          <div class="prt-moto-Zd2BsW montserrat-bold-white-14px">Prêt moto</div>
        </div>
        <div class="composant-94-37-hANmWC">
          <div class="entreprise-zZvhQK montserrat-bold-white-14px">Entreprise</div>
        </div>
        <div class="composant-94-38-hANmWC">
          <div class="carte-de-crdit-gpCQOx montserrat-bold-white-14px">Carte de crédit</div>
        </div>
        <div class="composant-88-23-hANmWC">
          <div class="prt-mobilit-wxMfqo montserrat-bold-white-14px">Prêt mobilité</div>
        </div>
      </div>
    </div>
  </body>
</html>
