

:root {
    --black: 
  rgba(0, 0, 0, 0.502);
    --mine-shaft: 
  rgba(47, 47, 47, 1);
    --cape-cod: 
  rgba(64, 64, 64, 1);
    --tundora: 
  rgba(70, 70, 70, 1);
    --nevada: 
  rgba(107, 109, 126, 1);
    --dove-gray: 
  rgba(112, 112, 112, 1);
    --silver-chalice: 
  rgba(173, 173, 173, 1);
    --celeste: 
  rgba(204, 204, 204, 1);
    --alabaster: 
#fafafa;
    --web-orange: 
  rgba(255, 170, 0, 1);
    --white-2: 
  rgba(255, 255, 255, 0.8);
    --white: 
  rgba(255, 255, 255, 1);
  
    --font-size-xxs: 10px;
    --font-size-xs: 12px;
    --font-size-s: 14px;
    --font-size-m: 16px;
    --font-size-l: 20px;
    --font-size-xl: 32px;
    --font-size-xxl: 46px;
  
    --font-family-montserrat:"Montserrat";
  }

  @import url("https://fonts.googleapis.com/css?family=Montserrat:300,700,500");
.header-container{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1800px;
    padding-top: 1%;
}
.div-header-image{
    float: left;
    width: 22%;
    margin-bottom: 1%;
}
.gap-header{

}
.div-cat-header{
    width: 45%;
    float: left;
    padding-top: 1%;
}

.btn-header{
    width: 33%;
    float: left;
    padding-top: 1%;
}
.btn-div-h{
    width: 50%;
    float: left;
    text-align: center;
}
.cat-header{
    width: 25%;
    float: left;
}
.img-header{
    max-height: 70px;
    object-fit: cover;
    max-width: 153px;
}
.bande-header{
    width: 90%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}
.div-bande-header{
    width: 12.5%;
    float: left;
}
.logo-div-header{
    width: 20%;
    max-width: 85px;
    margin-right: auto;
    margin-left: auto;
}
.titre-bande-header{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 2%;
    font-family: 'Montserrat';
}


.container-pret{
  float: left;
  width: 60%;
  height: 100%;
  max-height: 200px;
}
.presentation-pret{
  width: 100%;
  height: 100%;
  width: 100%;
    height: 100%;
    min-height: 700px;
    background-position-y: -5px;
}
.div-presentation{
  background-color: var(--black);
  min-height: 700px;
}
.form-pret{
  background-color: var(--nevada);
  height: 100%;
  width: 40%;
  float: left;
  min-height: 700px;
  padding: 4%;
}
.div-form-pret{

}
.container-presentation{
    
}
.img-home-header{
    margin-right: auto;
    max-width: 200px;
    width: 12%;
    margin-left: 40%;
    text-align: center;
    margin-top: 5%;
}
.h3-title-header{
    margin-right: auto;
    margin-left: auto;
    max-width: 200px;
    width: 90%;
    text-align: center;
    letter-spacing: 0;
    line-height: 14px;
}
.btn-tel{
  border-radius: 7px;
  width: 70%;
  height: 34px;
}
.btn-pret{
  background-color: var(--web-orange);
  border-radius: 7px;
  height: 100%;
  width: 100%;
  width: 100%;
}
.link-tel{

}
.link-pret{
    
}
.num-tel{

  text-align: left;
  margin-left: 6%;
  float: left;
  margin-top: 4%;

}
.demande-pret{

  padding: 3%;
  margin: 0px;

}
.num-tel{

}
.img-num-tel{

}
.img-h{
    width: 100%;
}
.gray-div{

    background-color: #f8f8f8;
    box-shadow: 0px 3px 6px #0000000d;
    float: left;
    width: 100%;
    padding-top: 0.8%;
    padding-bottom: 0.8%;
  
   
}
.img-phone{

    float: left;
    margin-left: 8%;
    margin-top: 2%;
    width: 18px;

}
.div-marg-taux{

  width: 80%;
  margin-left: 10%;
  padding-top: 5%;

}
.div-titre-taux{
  
}
.titre-taux{
  margin: 0px;

  color: var(--white);
  font-weight: 700;
  font-family: var(--font-family-montserrat);
  font-size: 60px;
  letter-spacing: 0;
  line-height: 70px;
  min-height: 125px;
}
.div-sous-titre-taux{
  
}
.sous-titre-taux{
  line-height: 36px;
}
.div-btn-t-dec{
  
}
.taux-menu{
  height: 40px;
  width: 22%;
  text-align: center;
  padding-top: 0.4%;
}
.div-titre-form{

}
.titre-form{
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: 32px;
  font-weight: 700;
  height: 41px;
  letter-spacing: 0;
  white-space: nowrap;
  opacity: 0;
  transform: translate(-25px, 0);
}
.label-form{
  margin-left: 1%;
  height: 25px;
  letter-spacing: 0.28px;
  line-height: 20px;
  white-space: nowrap;
  margin-bottom: 2%;
}
.input-form{
  letter-spacing: 0.24px;
  white-space: nowrap;
  background-color: transparent;
  border: solid 1px white;
  border-radius: 7px;
  height: 31px;
  width: 80%;
}
.input-form::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 0.3; /* Firefox */
}

.input-form:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

.input-form::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}
.animate-enter1 {
  animation: animate-enter1-frames 0.50s ease-in-out 0.20s 1 normal forwards;
  opacity: 0;
transform: translate(-25px, 0);
}

@keyframes animate-enter1-frames {
  from{opacity: 0;
transform: translate(-25px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}
.div-btn-cred{
  width: 36%;
  height: 40px;
  text-align: center;
 
}
