

:root {
    --black: 
  rgba(0, 0, 0, 0.502);
    --mine-shaft: 
  rgba(47, 47, 47, 1);
    --cape-cod: 
  rgba(64, 64, 64, 1);
    --tundora: 
  rgba(70, 70, 70, 1);
    --nevada: 
  rgba(107, 109, 126, 1);
    --dove-gray: 
  rgba(112, 112, 112, 1);
    --silver-chalice: 
  rgba(173, 173, 173, 1);
    --celeste: 
  rgba(204, 204, 204, 1);
    --alabaster: 
#fafafa;
    --web-orange: 
  rgba(255, 170, 0, 1);
    --white-2: 
  rgba(255, 255, 255, 0.8);
    --white: 
  rgba(255, 255, 255, 1);
  
    --font-size-xxs: 10px;
    --font-size-xs: 12px;
    --font-size-s: 14px;
    --font-size-m: 16px;
    --font-size-l: 20px;
    --font-size-xl: 32px;
    --font-size-xxl: 46px;
  
    --font-family-montserrat:"Montserrat";
  }

  @import url("https://fonts.googleapis.com/css?family=Montserrat:300,700,500");
.header-container{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1800px;

}
.div-header-image{
    float: left;
    width: 22%;
    margin-bottom: 1%;
    padding-top: 1%;
}
.gap-header{

}
.div-cat-header{
    width: 45%;
    float: left;
   
}

.btn-header{
    width: 33%;
    float: left;
    padding-top: 2%;
}
.btn-div-h{
    width: 50%;
    float: left;
    text-align: center;
}
.cat-header{
    width: 25%;
    float: left;
    padding-top: 4%;
}
.main-cat{
  border-top: solid 6px var(--web-orange);
  padding-top: 3%!important;

}
.img-header{
    max-height: 70px;
    object-fit: cover;
    max-width: 153px;
}
.bande-header{
    width: 90%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}
.div-bande-header{
    width: 12.5%;
    float: left;
}
.logo-div-header{
    width: 20%;
    max-width: 85px;
    margin-right: auto;
    margin-left: auto;
    height: 44px;
}
.titre-bande-header{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 2%;
    font-family: 'Montserrat';
}


.container-pret{
  float: left;
  width: 60%;
  height: 100%;
  max-height: 200px;
}
.presentation-pret{
  width: 100%;
  height: 100%;
  width: 100%;
    height: 100%;
    min-height: 800px;
    background-position-y: -5px;
}
.div-presentation{
  background-color: var(--black);
  min-height: 800px;
}
.form-pret{
  background-color: var(--nevada);
  height: 100%;
  width: 40%;
  float: left;
  min-height: 800px;
  padding-bottom: 0;
  padding-left: 20px;
}
.div-form-pret{

}
.container-presentation{
    
}
.pret{
  height: 800px;
}
.img-home-header{
    margin-right: auto;
    max-width: 200px;
    width: 12%;
    margin-left: 40%;
    text-align: center;
    margin-top: 5%;
}
.h3-title-header{
    margin-right: auto;
    margin-left: auto;
    max-width: 200px;
    width: 90%;
    text-align: center;
    letter-spacing: 0;
    line-height: 14px;
}
.btn-tel{
  border-radius: 7px;
  width: 70%;
  height: 34px;
}
.btn-pret{
  background-color: var(--web-orange);
  border-radius: 7px;
  height: 100%;
  width: 100%;
  width: 100%;
}
.link-tel{

}
.link-pret{
    
}
.num-tel{

  text-align: left;
  margin-left: 6%;
  float: left;
  margin-top: 4%;

}
.demande-pret{

  padding: 3%;
  margin: 0px;

}
.num-tel{

}
.img-num-tel{

}
.img-h{
    width: 100%;
}
.gray-div{

    background-color: #f8f8f8;
    box-shadow: 0px 3px 6px #0000000d;
    float: left;
    width: 100%;
    padding-top: 0.8%;
    padding-bottom: 0.8%;
  
   
}
.img-phone{

    float: left;
    margin-left: 8%;
    margin-top: 2%;
    width: 18px;

}
.div-marg-taux{

  width: 80%;
  margin-left: 10%;
  padding-top: 5%;

}
.div-titre-taux{
  
}
.titre-taux{
  margin: 0px;

  color: var(--white);
  font-weight: 700;
  font-family: var(--font-family-montserrat);
  font-size: 60px;
  letter-spacing: 0;
  line-height: 70px;
  min-height: 125px;
}
.div-sous-titre-taux{
  
}
.sous-titre-taux{
  line-height: 36px;
}
.div-btn-t-dec{
  
}
.taux-menu{
  height: 40px;
  width: 22%;
  text-align: center;
  padding-top: 0.4%;
}
.div-titre-form{

}
.titre-form{
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: 32px;
  font-weight: 700;
  height: 41px;
  letter-spacing: 0;
  opacity: 0;
  transform: translate(-25px, 0);
}
.label-form{
  margin-left: 1%;
  height: 25px;
  letter-spacing: 0.28px;
  line-height: 20px;
  margin-bottom: 2%;
}
.input-form{
  letter-spacing: 0.24px;
  white-space: nowrap;
  background-color: transparent;
  border: solid 1px white;
  border-radius: 7px;
  height: 31px;
  width: 80%;
}
.label-mensualite{

  height: 25px;
  letter-spacing: 0.28px;
  line-height: 20px;
  white-space: nowrap;
  margin-bottom: 2%;
}
.mensualite{
  color: var(--web-orange);
  font-family: var(--font-family-montserrat);
  font-size: 50px;
  font-weight: 700;
  line-height: 0px;
  margin-top: 5%;
}
.input-form::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 0.3; /* Firefox */
}

.input-form:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

.input-form::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}
.animate-enter1 {
  animation: animate-enter1-frames 0.50s ease-in-out 0.20s 1 normal forwards;
  opacity: 0;
transform: translate(-25px, 0);
}

@keyframes animate-enter1-frames {
  from{opacity: 0;
transform: translate(-25px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}
.div-btn-cred{
  width: 36%;
  height: 40px;
  text-align: center;
 
}
.div-info-cred{
  width: 80%;
  margin-bottom: 35%;
}
.info-cred{
  width: 50%;
  float: left;
}
.info{
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  font-weight: 700;
}
.div-taux-pref{

}
.taux-pref{
  text-align: right;
  margin-top: 7%;
}
.animate-enter {
  animation: animate-enter-frames 0.50s ease-in-out 0.00s 1 normal forwards;
  opacity: 0;
transform: translate(-25px, 0);
}

@keyframes animate-enter-frames {
  from{opacity: 0;
transform: translate(-25px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}
.titre-part{
  letter-spacing: 0;
  min-height: 41px;
  text-align: center;
  opacity: 0;
  transform: translate(-25px, 0);
  display: contents;
}
.container-presentation{
  margin-top: 12%;
}
.div-centre-titre{
  text-align: center;
}
.ligne-yellow {
  background-color: var(--web-orange);
  height: 6px;
  width: 82px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}
.div-content-presentation{
  width: 80%;
  margin-left: auto;
  margin-right: auto;

}
.div-text-presentation{
  float: left;
  width: 50%;
}
.animate-enter2 {
  animation: animate-enter2-frames 0.50s ease-in-out 0.20s 1 normal forwards;
  opacity: 0;
transform: translate(-25px, 0);
}

@keyframes animate-enter2-frames {
  from{opacity: 0;
transform: translate(-25px, 0);
}
to{opacity: 1;
transform: translate(0,0);
}
}
.p-text-presentation{
  letter-spacing: 0;
  line-height: 26px;
  opacity: 0;
transform: translate(-25px, 0);
margin-bottom: 4%;
}
.span-pres-1{
  margin-bottom: 3%;
}
.btn-offre{
  width: 100%;
    max-width: 210px;
    text-align: center;
    height: 40px;
}
.div-img-presentation{
  float: left;
  width: 50%;
}
.animate-enter {
  animation: animate-enter-frames 0.50s ease-in-out 0.50s 1 normal forwards;
  display: block;
  opacity: 0;
transform: translate(0, 25px);
}
@keyframes animate-enter-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}
.text-info-img{
  letter-spacing: 0;
  line-height: 26px;
  min-height: 15px;
  white-space: nowrap;
}
.container-taux{
  background-color: var(--nevada);
  width: 100%; 
  display: flow-root;
  height: 800px;
}
.text-1 {
  height: 66px;
  letter-spacing: 0;
  line-height: 26px;
  text-align: center;
  width: 100%;
  opacity: 0;
transform: translate(0, 25px);
}
.taeg{
  letter-spacing: 0;
  line-height: 40px;
  text-align: center;
}
.slide{
  width: 18%;
    min-height: 400px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 5px 10px #0000000d;
}
.surname{
  width:80%;
  margin-left: auto;
  margin-right: auto;
}
.div-dec-btn{
  margin-top: 8%;
  width: 84%;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  text-align: center;

}
.div-partenaire-conf{
  height: 700px;
  background-repeat: no-repeat;
  width: 100%;
  background-size: contain;
}
.div-partenaire-txt{
  width: 43%;
  margin-left: 44%;
}
.titre-partenaire-conf{

}
.ligne-yellow-left{

}
.txt-noir-p{

}
.div-btn-partenaire{

}
.montant-form{

    }
.duree-form{

    }

@media(max-width: 450px){


  .div-cat-header{
    display: none;

  }
  .btn-header{
    display: none;

  }
 /* .menu-burger label {
    display:flex;
     flex-direction:column;
     width:70px;
     cursor:pointer;
   }
   
   .menu-burger label span{
     background: #fff;
     border-radius:10px;
     height:7px;
     margin: 7px 0;
     transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
   
   }
   
   
   .menu-burger span:nth-of-type(1){
     width:50%;
     
   }
   
   .menu-burger span:nth-of-type(2){
     width:100%;
   }
   
   
   .menu-burger span:nth-of-type(3){
     width:75%;
    
   }
   
   
   .menu-burger input[type="checkbox"]{
     display:none;
   }
   
   
   .menu-burger input[type="checkbox"]:checked ~ span:nth-of-type(1){
     transform-origin:bottom;
     transform:rotatez(45deg) translate(8px,0px)
   }
   
   
   .menu-burger input[type="checkbox"]:checked ~ span:nth-of-type(2){
     
     transform-origin:top;
     transform:rotatez(-45deg)
   }
   
   
   .menu-burger input[type="checkbox"]:checked ~ span:nth-of-type(3){
     
     transform-origin:bottom;
     width:50%;
     transform: translate(30px,-11px) rotatez(45deg);
   
   }*/
   

   .main-nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    background: #FFF;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: all .375s;
}

.main-nav.is-open {
    opacity: 1;
    z-index: 100;
    visibility: visible;
}

/* Yellow band effect */
.main-nav::before {
	 content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -15px;
    background: #FEDC2A;
    transform-origin: 0 0;
    transform: skew(-14deg) translateX(-120%);
    transition: all .275s .1s;
}

.main-nav.is-open::before {
    transform: skew(-14deg) translateX(0);
}

/* Skewing effect on menu links */
.main-nav ul {
    display: inline-flex;
    flex-direction: column;
    height: 93%; /* Should be 100%, but we have a notice message :D */
    align-items: flex-end;
    justify-content: center;
    transform: translateX(-18%) skew(-16deg);
}

.main-nav li {
    display: block;
    margin: .5rem 0;
    text-align: right;
    transform: skew(16deg);
}

/* Apparition effect on links */
.main-nav a {
    opacity: 0;
    transform: translateY(-10px);
}

.main-nav.is-open a {
    opacity: 1;
    transform: translateY(0);
}
.main-nav li:nth-child(1) a {
	transition: all 275ms 175ms
}
.main-nav li:nth-child(2) a {
	transition: all 275ms 225ms
}
.main-nav li:nth-child(3) a {
	transition: all 275ms 275ms
}
.main-nav li:nth-child(4) a {
	transition: all 275ms 325ms
}
.main-nav li:nth-child(5) a {
	transition: all 275ms 375ms
}


/* Decoration */
.main-nav ul,
.main-nav li {
	list-style: none;
	padding: 0;
}
.main-nav a {
	display: block;
	padding: 12px 0;
	color: var(--web-orange);
	font-size: 1.4em;
	text-decoration: none;
	font-weight: bold;
}

/* Burger Style: @see: https://codepen.io/CreativeJuiz/full/oMZNXy */
.open-main-nav {
	position: absolute;
	top: 39px;
	padding-top: 20px;
	right: 15px;
	z-index: 1000;
	background: none;
	border: 0;
	cursor: pointer;
}
.open-main-nav:focus {
	outline: none;
}
.burger {
	position: relative;
	display: block;
	width: 28px;
	height: 4px;
	margin: 0 auto;
	background: var(--web-orange);
	transform: skew(5deg);
	transition: all .275s;
}

.burger:after,
.burger:before {
	content: '';
	display: block;
	height: 100%;
	background: var(--web-orange);
	transition: all .275s;
}

.burger:after {
	transform: translateY(-12px) translateX(-2px) skew(-20deg);
}

.burger:before {
	transform: translateY(-16px) skew(-10deg);
}

/* Toggle State part */
.is-open .burger {
	transform: skew(5deg) translateY(-8px) rotate(-45deg);
}

.is-open .burger:before {
	transform: translateY(0px) skew(-10deg) rotate(75deg);
}

.is-open .burger:after {
	transform: translateY(-12px) translateX(10px) skew(-20deg);
    opacity: 0;
}

/* MENU Text part */

.burger-text {
	display: block;
	font-size: .675rem;
	letter-spacing: .05em;
	margin-top: .5em;
	text-transform: uppercase;
	font-weight: 500;
	text-align: center;
	color: #5A3B5D;
}

.device {
	position: relative;
	width: 345px;
	height: 600px;
	background: #FFF;
	border: 1px solid #EEE;
	border-radius: 3px;
	box-shadow: 0 0 0 10px rgba(0,0,0,.1);
}


/* Slow motion button */
[id="slowmo"] {
	position: absolute;
	top: 20px;
	right: 20px;
	padding: 10px;
	border: 0;
	font-size: 1rem;
	background: #FEDC2A;
	color: #5A3B5D;
	font-weight: bold;
	cursor: pointer;
	transition: all .275s;
}

[id="slowmo"] span {
	display: block;
	font-weight: normal;
}

[id="slowmo"]:hover,
[id="slowmo"]:focus {
	background: #5A3B5D;
	color: #FEDC2A;
}

[id="slowmo"].is-slowmo span:after {
	content: 'Activated';
	display: block;
	font-weight: bold;
}

/* When slowmotion is activated */

.is-slowmo + .device .open-main-nav .burger,
.is-slowmo + .device .open-main-nav .burger:before,
.is-slowmo + .device .open-main-nav .burger:after,
.is-slowmo + .device .main-nav,
.is-slowmo + .device .main-nav::before,
.is-slowmo + .device .main-nav a {
	transition-duration: 3s;
}
.is-slowmo + .device .main-nav li:nth-child(1) a {
	transition-delay: 1750ms
}
.is-slowmo + .device .main-nav li:nth-child(2) a {
	transition-delay: 2250ms
}
.is-slowmo + .device .main-nav li:nth-child(3) a {
	transition-delay: 2750ms
}
.is-slowmo + .device .main-nav li:nth-child(4) a {
	transition-delay: 3250ms
}
.is-slowmo + .device .main-nav li:nth-child(5) a {
	transition-delay: 3750ms
}

/* Notice */
.notice {
	position: absolute;
	bottom: -15px;
	left: 0; right: 0;
	padding: 20px;
	background: #F2F2F2;
	color: #5A3B5D;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	z-index: 100;
	text-align: center;
}
.notice strong {
	font-weight: 700;
}
.notice a {
	padding: 2px 3px;
	background: #FEDC2A;
	text-decoration: none;
}
.container-pre



}
@media(min-width: 450px){

.menu-burger{
  display: none;
}




}