

:root {
    --black: 
  rgba(0, 0, 0, 0.502);
    --mine-shaft: 
  rgba(47, 47, 47, 1);
    --cape-cod: 
  rgba(64, 64, 64, 1);
    --tundora: 
  rgba(70, 70, 70, 1);
    --nevada: 
  rgba(107, 109, 126, 1);
    --dove-gray: 
  rgba(112, 112, 112, 1);
    --silver-chalice: 
  rgba(173, 173, 173, 1);
    --celeste: 
  rgba(204, 204, 204, 1);
    --alabaster: 
#fafafa;
    --web-orange: 
  rgba(255, 170, 0, 1);
    --white-2: 
  rgba(255, 255, 255, 0.8);
    --white: 
  rgba(255, 255, 255, 1);
  
    --font-size-xxs: 10px;
    --font-size-xs: 12px;
    --font-size-s: 14px;
    --font-size-m: 16px;
    --font-size-l: 20px;
    --font-size-xl: 32px;
    --font-size-xxl: 46px;
  
    --font-family-montserrat: "Montserrat";
  }

  /* Classes */

.border-1px-white {
    border-width: 1px;
    border-style: solid;
    border-color: var(--white);
  }
  .montserrat-light-white-16px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-weight: 300;
    font-style: normal;
  }
  .montserrat-light-web-orange-36px {
    color: var(--web-orange);
    font-family: var(--font-family-montserrat);
    font-size: 36;
  }
  .montserrat-bold-tundora-18px {
    color: var(--tundora);
    font-family: var(--font-family-montserrat);
    font-size: 18;
    font-weight: 700;
    font-style: normal;
  }
  .montserrat-light-web-orange-60px {
    color: var(--web-orange);
    font-family: var(--font-family-montserrat);
    font-size: 60;
  }
  .montserrat-bold-web-orange-46px {
    color: var(--web-orange);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xxl);
    font-weight: 700;
    font-style: normal;
  }
  .montserrat-bold-white-18px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: 18;
    font-weight: 700;
    font-style: normal;
  }
  .montserrat-bold-white-14px-2 {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-s);
    font-weight: 700;
    font-style: normal;
  }
  .montserrat-bold-web-orange-50px-2 {
    color: var(--web-orange);
    font-family: var(--font-family-montserrat);
    font-size: 50;
  }
  .montserrat-medium-white-16px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-weight: 500;
    font-style: normal;
  }
  .montserrat-bold-nevada-32px {
    color: var(--nevada);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xl);
    font-weight: 700;
    font-style: normal;
  }
  .montserrat-bold-white-24px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: 24;
    font-weight: 700;
    font-style: normal;
  }
  .montserrat-light-tundora-10px {
    color: var(--tundora);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xxs);
    font-weight: 300;
    font-style: normal;
  }
  .montserrat-bold-dove-gray-12px {
    color: var(--dove-gray);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xs);
    font-weight: 700;
    font-style: normal;
  }
  .montserrat-bold-silver-chalice-20px {
    color: var(--silver-chalice);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-l);
    font-weight: 700;
    font-style: normal;
  }
  .montserrat-light-tundora-16px {
    color: var(--tundora);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-weight: 300;
    font-style: normal;
  }
  .montserrat-light-web-orange-30px {
    color: var(--web-orange);
    font-family: var(--font-family-montserrat);
    font-size: 30;
    font-weight: 300;
    font-style: normal;
  }
  .montserrat-light-white-14px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-s);
    font-weight: 300;
    font-style: normal;
  }
  .montserrat-bold-web-orange-24px {
    color: var(--web-orange);
    font-family: var(--font-family-montserrat);
    font-size: 24;
    font-weight: 700;
    font-style: normal;
  }
  .border-1px-web-orange {
    border-width: 1px;
    border-style: solid;
    border-color: var(--web-orange);
  }
  .montserrat-bold-nevada-20px {
    color: var(--nevada);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-l);
    font-weight: 700;
    font-style: normal;
  }
  .montserrat-bold-web-orange-36px {
    color: var(--web-orange);
    font-family: var(--font-family-montserrat);
    font-size: 36;
    font-weight: 700;
    font-style: normal;
  }
  .montserrat-medium-web-orange-20px {
    color: var(--web-orange);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-l);
    font-weight: 500;
    font-style: normal;
  }
  .montserrat-bold-web-orange-20px-2 {
    color: var(--web-orange);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-l);
    font-weight: 700;
    font-style: normal;
  }
  .montserrat-medium-white-14px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-s);
    font-weight: 500;
    font-style: normal;
  }
  .montserrat-bold-white-32px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xl);
    font-weight: 700;
    font-style: normal;
  }
  .montserrat-medium-dove-gray-14px {
    color: var(--dove-gray);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-s);
    font-weight: 500;
    font-style: normal;
  }
  .montserrat-bold-silver-chalice-18px {
    color: var(--silver-chalice);
    font-family: var(--font-family-montserrat);
    font-size: 18;
    font-weight: 700;
    font-style: normal;
  }
  .montserrat-bold-white-14px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-s);
  }
  .montserrat-bold-white-60px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: 60;
    font-weight: 700;
    font-style: normal;
  }
  .montserrat-light-white-10px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xxs);
    font-weight: 300;
    font-style: normal;
  }
  .montserrat-light-white-12px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xs);
    font-weight: 300;
    font-style: normal;
  }
  .montserrat-bold-tundora-20px {
    color: var(--tundora);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-l);
    font-weight: 700;
    font-style: normal;
  }
  .montserrat-light-web-orange-16px {
    color: var(--web-orange);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-weight: 300;
    font-style: normal;
  }
  .montserrat-bold-dove-gray-10px {
    color: var(--dove-gray);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xxs);
    font-weight: 700;
    font-style: normal;
  }
  .montserrat-light-celeste-12px {
    color: var(--celeste);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xs);
    font-weight: 300;
    font-style: normal;
  }
  .montserrat-bold-web-orange-50px {
    color: var(--web-orange);
    font-family: var(--font-family-montserrat);
    font-size: 50px;  
    font-weight: 700;
    font-style: normal;
  }
  .montserrat-bold-nevada-24px {
    color: var(--nevada);
    font-family: var(--font-family-montserrat);
    font-size: 24;
    font-weight: 700;
    font-style: normal;
  }
  .montserrat-bold-white-52px {
    color: var(--white);
    font-family: var(--font-family-montserrat);
    font-size: 52;
    font-weight: 700;
    font-style: normal;
  }
  .montserrat-light-tundora-20px {
    color: var(--tundora);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-l);
  }
  .montserrat-bold-web-orange-20px {
    color: var(--web-orange);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-l);
  }
  
  @import url("https://fonts.googleapis.com/css?family=Montserrat:300,700,500");
  body{
    margin: 0px;
  }
  .menu {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 197px;
    width: 1920px;
  }
  
  .menu-1 {
    align-items: center;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    min-height: 98px;
    width: 1920px;
  }
  
  .active {
    background-color: var(--web-orange);
    height: 4px;
    margin-right: 334.0px;
    width: 28px;
  }
  
  .flex-row {
    align-items: center;
    display: flex;
    margin-top: 8px;
    min-width: 1640px;
  }
  
  .logo-espace-crdits {
    height: 70px;
    object-fit: cover;
    width: 153px;
  }
  
  .picto-home {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/60d053234da36ffc696aa4ed/releases/60d053312db904d587e4611a/img/trac--2@1x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 13px;
    margin-left: 493px;
    margin-top: 4.91px;
    width: 15px;
  }
  
  .crdits {
    height: 20px;
    margin-left: 111px;
    margin-top: 10.0px;
    pointer-events: auto;
    position: relative;
    transition: all 0.2s ease-in-out;
    width: 53px;
  }
  
  .crdits:hover {
    opacity: 1;
  }
  
  .crdits-1 {
    height: 22px;
    left: 0;
    letter-spacing: 0;
    line-height: 14px;
    position: absolute;
    top: 0;
    width: 53px;
  }
  
  .notre-philosophie {
    height: 22px;
    letter-spacing: 0;
    line-height: 14px;
    margin-left: 109px;
    margin-top: 12.0px;
    width: 128px;
  }
  
  .place {
    height: 22px;
    letter-spacing: 0;
    line-height: 14px;
    margin-left: 109px;
    margin-top: 12.0px;
    width: 58px;
  }
  
  .c2-a-numro-de-tlphone {
    align-items: flex-start;
    display: flex;
    margin-left: 83px;
    margin-top: 4.0px;
    min-width: 148px;
  }
  
  .overlap-group {
    align-items: flex-start;
    background-color: var(--white);
    display: flex;
    height: 40px;
    justify-content: flex-end;
    min-width: 148px;
    padding: 7.0px 7px;
  }
  
  .groupe-3 {
    align-items: flex-start;
    display: flex;
    min-width: 18px;
  }
  
  .overlap-group1 {
    height: 24px;
    margin-top: 0;
    position: relative;
    width: 18px;
  }
  
  .groupe-2 {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/60d053234da36ffc696aa4ed/releases/60d053312db904d587e4611a/img/trac--3@1x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 19px;
    left: 0;
    position: absolute;
    top: 5px;
    width: 15px;
  }
  
  .trac-4 {
    height: 11px;
    left: 13px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 5px;
  }
  
  .trac-5 {
    height: 7px;
    left: 12px;
    object-fit: cover;
    position: absolute;
    top: 2px;
    width: 4px;
  }
  
  .trac-6 {
    height: 4px;
    left: 11px;
    object-fit: cover;
    position: absolute;
    top: 5px;
    width: 2px;
  }
  
  .phone {
    align-self: center;
    letter-spacing: 0;
    line-height: 14px;
    margin-bottom: 0;
    margin-left: 5px;
    min-height: 20px;
    width: 107px;
  }
  
  .c2-a-demander-un-prt {
    align-items: flex-end;
    background-color: var(--web-orange);
    border-radius: 7px;
    display: flex;
    height: 40px;
    justify-content: flex-end;
    margin-left: 10px;
    margin-top: 4.0px;
    min-width: 170px;
    padding: 9px 6px;
  }
  
  .demander-un-prt {
    letter-spacing: 0;
    line-height: 14px;
    min-height: 20px;
    text-align: center;
    width: 156px;
  }
  
  .sous-menu {
    align-items: flex-start;
    background-color: var(--alabaster);
    box-shadow: 0px 3px 6px #0000000d;
    display: flex;
    justify-content: flex-end;
    min-width: 1920px;
    padding: 0 138px;
  }
  
  .overlap-group-1 {
    height: 99px;
    position: relative;
    width: 1642px;
  }
  
  .entrerpise {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 1435px;
    padding: 20.0px 0;
    position: absolute;
    top: 0;
    width: 207px;
  }
  
  .groupe-12 {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/60d053234da36ffc696aa4ed/releases/60d053312db904d587e4611a/img/trac--20@1x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 35px;
    margin-right: 2.41px;
    margin-top: 1px;
    width: 35px;
  }
  
  .entreprise {
    height: 24px;
    letter-spacing: 0;
    line-height: 26px;
    margin-bottom: -2px;
    text-align: center;
    white-space: nowrap;
    width: 207px;
  }
  
  .cartedecrdit {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 1230px;
    padding: 23px 0;
    position: absolute;
    top: 0;
    width: 207px;
  }
  
  .groupe-132 {
    align-items: flex-start;
    display: flex;
    margin-right: 1.33px;
    margin-top: 2px;
    min-width: 40px;
    padding: 0 0.0px;
  }
  
  .overlap-group1-1 {
    height: 30px;
    position: relative;
    width: 40px;
  }
  
  .trac-341 {
    height: 3px;
    left: 5px;
    object-fit: cover;
    position: absolute;
    top: 17px;
    width: 12px;
  }
  
  .trac-342 {
    height: 3px;
    left: 5px;
    object-fit: cover;
    position: absolute;
    top: 21px;
    width: 7px;
  }
  
  .trac-343 {
    height: 30px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 40px;
  }
  
  .carte-de-crdit {
    letter-spacing: 0;
    line-height: 18px;
    margin-bottom: -1px;
    margin-top: 4px;
    min-height: 17px;
    text-align: center;
    white-space: nowrap;
    width: 207px;
  }
  
  .regroupementdecrdits {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 1025px;
    padding: 20px 0;
    position: absolute;
    top: 0;
    width: 207px;
  }
  
  .groupe-10 {
    align-items: flex-end;
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/60d053234da36ffc696aa4ed/releases/60d053312db904d587e4611a/img/trac--15@1x.png);
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    height: 34px;
    margin-right: 2.6px;
    min-width: 34px;
    padding: 7.7px 10.0px;
  }
  
  .flex-col {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 14px;
    width: 6px;
  }
  
  .trac-1 {
    height: 6px;
    object-fit: cover;
    width: 6px;
  }
  
  .trac-1-1 {
    height: 6px;
    margin-top: 1px;
    object-fit: cover;
    width: 6px;
  }
  
  .flex-col-1 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 1px;
    min-height: 14px;
    width: 6px;
  }
  
  .regroupement {
    letter-spacing: 0;
    line-height: 26px;
    margin-bottom: -9px;
    min-height: 17px;
    text-align: center;
    white-space: nowrap;
    width: 207px;
  }
  
  .prttravaux {
    align-items: flex-start;
    display: flex;
    height: 99px;
    left: 820px;
    position: absolute;
    top: 0;
  }
  
  .overlap-group2 {
    height: 79px;
    position: relative;
    width: 207px;
  }
  
  .prt-travaux {
    height: 24px;
    left: 0;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    text-align: center;
    top: 55px;
    white-space: nowrap;
    width: 207px;
  }
  
  .groupe-7 {
    align-items: flex-start;
    display: flex;
    height: 36px;
    left: 86px;
    position: absolute;
    top: 20px;
  }
  
  .overlap-group1-2 {
    height: 144px;
    position: relative;
    width: 100%;
    float: left;
  }
  
  .groupe-5 {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/60d053234da36ffc696aa4ed/releases/60d053312db904d587e4611a/img/trac--12@1x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 15px;
    left: 18px;
    position: absolute;
    top: 20px;
    width: 15px;
  }
  
  .groupe-6 {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/60d053234da36ffc696aa4ed/releases/60d053312db904d587e4611a/img/trac--13@1x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 36px;
    left: 0;
    position: absolute;
    top: 0;
    width: 33px;
  }
  
  .prtmobilit {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 615px;
    padding: 20.0px 0;
    position: absolute;
    top: 0;
    width: 207px;
  }
  
  .trac-235 {
    height: 34px;
    margin-right: 2.33px;
    object-fit: cover;
    width: 51px;
  }
  
  .prt-mo {
    letter-spacing: 0;
    line-height: 26px;
    margin-bottom: -9px;
    margin-top: 1px;
    min-height: 17px;
    text-align: center;
    white-space: nowrap;
    width: 207px;
  }
  
  .prtmoto {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 410px;
    padding: 20px 0;
    position: absolute;
    top: 0;
    width: 207px;
  }
  
  .groupe-96 {
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/60d053234da36ffc696aa4ed/releases/60d053312db904d587e4611a/img/trac--236@1x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 33px;
    margin-right: 2.29px;
    width: 57px;
  }
  
  .prtauto {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 205px;
    padding: 20px 0;
    position: absolute;
    top: 0;
    width: 207px;
  }
  
  .groupe-4 {
    align-items: flex-end;
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/60d053234da36ffc696aa4ed/releases/60d053312db904d587e4611a/img/trac--11@1x.png);
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    height: 35px;
    justify-content: flex-end;
    margin-right: 2.17px;
    min-width: 39px;
    padding: 10.8px 6.5px;
  }
  
  .ellipse-1 {
    background-color: var(--dove-gray);
    border-radius: 3.24px;
    height: 6px;
    width: 6px;
  }
  
  .ellipse-2 {
    background-color: var(--dove-gray);
    border-radius: 3.24px;
    height: 6px;
    margin-left: 12px;
    width: 6px;
  }
  
  .prt-auto {
    height: 24px;
    letter-spacing: 0;
    line-height: 26px;
    margin-bottom: -2px;
    text-align: center;
    white-space: nowrap;
    width: 207px;
  }
  
  .prtperso {
    height: 99px;
    left: 0;
    pointer-events: auto;
    position: absolute;
    top: 0;
    transition: all 0.5s ease-in-out;
    width: 207px;
  }
  
  .prtperso:hover {
    #FFAA00
  }
  
  .prt-perso {
    height: 24px;
    left: 0;
    letter-spacing: 0;
    line-height: 26px;
    pointer-events: auto;
    position: absolute;
    text-align: center;
    top: 55px;
    transition: all 0.2s ease;
    white-space: nowrap;
    width: 207px;
  }
  
  .prt-perso:hover {
    color: #FFAA00
  }
  
  .trac-9 {
    height: 35px;
    left: 85px;
    object-fit: cover;
    pointer-events: auto;
    position: absolute;
    top: 20px;
    transition: all 0.2s ease;
    width: 35px;
  }
  
  .trac-9:hover {
    #FFAA00
  }
  
  @import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
  
  @import url("https://fonts.googleapis.com/css?family=Montserrat:300,700,500");
  
  .smart-layers-pointers,
  .smart-layers-pointers * {
    pointer-events: auto;
    visibility: visible;
  }
  
  .accroche {
    align-items: flex-start;
    background-position: -40% 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    overflow: hidden;
    width: 60%;
    float: left;
  }
  
  .overlap-group {
    align-items: flex-start;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    min-height: 602px;
    padding: 19px 21px;
    width: 726px;
  }
  
  .text-2 {
    align-self: flex-end;
    color: var(--web-orange);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-weight: 300;
    letter-spacing: 0;
    line-height: 50px;
    min-height: 125px;
    width: 635px;
  }
  
  .span0 {
    color: var(--white);
    font-weight: 700;
  }
  
  .span1 {
    color: var(--white);
    font-size: var(--font-size-s);
    font-weight: 700;
  }
  
  .text-1 {
    align-self: center;
    height: 88px;
    letter-spacing: 0;
    line-height: 36px;
    margin-right: 97.0px;
    margin-top: 1px;
    width: 489px;
  }
  
  .composant-15-1 {
    align-items: flex-start;
    display: flex;
    margin-left: 49px;
    margin-top: 9px;
    min-width: 197px;
  }
  
  .overlap-group1 {
    height: 40px;
    position: relative;
    width: 197px;
  }
  
  .rectangle-6 {
    background-color: var(--web-orange);
    border-radius: 7px;
    height: 40px;
    left: 0;
    position: absolute;
    top: 0;
    width: 195px;
  }
  
  .dcouvrir-nos-taux {
    height: 22px;
    left: 0;
    letter-spacing: 0;
    line-height: 14px;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 197px;
  }
  
  @import url("https://fonts.googleapis.com/css?family=Montserrat:300,700,500");

  .simulationdepret {
    align-items: center;
    background-image: url(https://anima-uploads.s3.amazonaws.com/projects/60d0532…/releases/60d1b3c…/img/rectangle-417@1x.png);
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 602px;
    width: 40%;
    float: right;
  }
  
  .text-5 {
    height: 41px;
    letter-spacing: 0;
    line-height: 50px;
    margin-bottom: -9px;
    margin-right: 75.0px;
    margin-top: 8px;
    white-space: nowrap;
    width: 339px;
  }
  
  .type-de-prt {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-right: 67.0px;
    margin-top: 31px;
    min-height: 72px;
    width: 347px;
  }
  
  .types-de-prt {
    height: 25px;
    letter-spacing: 0.28px;
    line-height: 50px;
    margin-bottom: -25px;
    margin-left: 10px;
    margin-top: -18px;
    white-space: nowrap;
  }
  
  .overlap-group4 {
    height: 46px;
    margin-top: 19px;
    position: relative;
    width: 347px;
  }
  
  .rectangle-7 {
    border-radius: 7px;
    height: 40px;
    left: 0;
    position: absolute;
    top: 6px;
    width: 347px;
  }
  
  .down {
    height: 4px;
    left: 328px;
    object-fit: cover;
    position: absolute;
    top: 24px;
    width: 9px;
  }
  
  .prt-perso {
    left: 10px;
    letter-spacing: 0.24px;
    line-height: 50px;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 84px;
  }
  
  .flex-row {
    align-items: flex-start;
    display: flex;
    height: auto;
    margin-right: 6%;
    margin-top: 1.1%;
    min-width: 347px;
  }
  
  .montant {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 59px;
    width: 162px;
  }
  
  .montant-1 {
    height: 25px;
    letter-spacing: 0.28px;
    line-height: 50px;
    margin-bottom: -25px;
    margin-left: 10px;
    margin-top: -18px;
    white-space: nowrap;
  }
  
  .overlap-group3 {
    height: 43px;
    margin-top: 9px;
    position: relative;
    width: 162px;
  }
  
  .rectangle-8 {
    border-radius: 7px;
    height: 34px;
    left: 0;
    position: absolute;
    top: 9px;
    width: 162px;
  }
  
  .entrez-un-montant {
    left: 10px;
    letter-spacing: 0.24px;
    line-height: 50px;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 141px;
  }
  
  .dure {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 7px;
    min-height: 59px;
    width: 178px;
  }
  
  .dure-1 {
    height: 25px;
    letter-spacing: 0.28px;
    line-height: 50px;
    margin-bottom: -25px;
    margin-left: 6px;
    margin-top: -18px;
    white-space: nowrap;
  }
  
  .overlap-group2 {
    height: 43px;
    margin-top: 9px;
    position: relative;
    width: 178px;
  }
  
  .rectangle-9 {
    border-radius: 7px;
    height: 34px;
    left: 0;
    position: absolute;
    top: 9px;
    width: 178px;
  }
  
  .text-4 {
    left: 12px;
    letter-spacing: 0.24px;
    line-height: 50px;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 149px;
  }
  
  .mensualits {
    align-self: flex-start;
    height: 25px;
    letter-spacing: 0.28px;
    line-height: 50px;
    margin-bottom: -25px;
    margin-left: 68px;
    margin-top: 23px;
    white-space: nowrap;
  }
  
  .overlap-group {
    position: relative;
    width: 100%
  }
  
  .dure-60-mois {
    height: 30px;
    left: 0;
    letter-spacing: 0;
    line-height: 50px;
    position: absolute;
    top: 114px;
    white-space: nowrap;
    width: 265px;
  }
  
  .taeg-595 {
    height: 30px;
    left: 0;
    letter-spacing: 0;
    line-height: 50px;
    position: absolute;
    top: 90px;
    white-space: nowrap;
    width: 265px;
  }
  
  .text-2 {
    height: 30px;
    left: 0;
    letter-spacing: 0;
    line-height: 50px;
    position: absolute;
    top: 66px;
    white-space: nowrap;
    width: 265px;
  }
  
  .text-3 {
    height: 30px;
    left: 0;
    letter-spacing: 0;
    line-height: 50px;
    position: absolute;
    top: 41px;
    white-space: nowrap;
    width: 265px;
  }
  
  .price {
    color: var(--web-orange);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xxxl);
    font-weight: 700;
    height: 50px;
    left: 0;
    letter-spacing: 0.72px;
    line-height: 50px;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 160px;
  }
  
  .span1 {
    font-size: var(--font-size-xl);
    letter-spacing: 0.48px;
  }
  
  .c2-a-demande-de-credit {
    align-items: flex-start;
    align-self: flex-start;
    display: flex;
    margin-left: 65px;
    margin-top: 40px;
    min-width: 197px;
  }
  
  .overlap-group1 {
    height: 40px;
    position: relative;
    width: 197px;
  }
  
  .trac-94 {
    height: 40px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 195px;
  }
  
  .demande-de-crdit {
    left: 0;
    letter-spacing: 0;
    line-height: 14px;
    position: absolute;
    text-align: center;
    top: 11px;
    width: 197px;
  }
  
  .text-1 {
    align-self: flex-end;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: -1px;
    margin-top: 31px;
    min-height: 15px;
    white-space: nowrap;
    width: 462px;
  }
  
  a{
    text-decoration: none;
  }

  @import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
  
  @import url("https://fonts.googleapis.com/css?family=Montserrat:300,700,500");
  
  * {
    box-sizing: border-box;
  }
  
  /*style page carte-credit*/

  .div-img{
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 600px;
    width: 50%;
    float: left;
}

.txt-black{
    font-family: var(--font-family-montserrat);
    font-size: 20px;
    color: black;
    font-weight: 700;
}

.titre-taux-black{
    margin: 0px;
    color: var(--black);
    font-weight: 700;
    font-family: var(--font-family-montserrat);
    font-size: 60px;
    letter-spacing: 0;
    line-height: 70px;
    min-height: 125px;
}

.titre-form-black{
    color: var(--black);
    font-family: var(--font-family-montserrat);
    font-size: 32px;
    font-weight: 700;
    height: 41px;
    letter-spacing: 0;
    white-space: nowrap;
    transform: translate(-25px, 0);
    background-image: url(/assets/front/img/trac--225-1@1x.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 40px;
    padding-bottom: 70px;
    margin-bottom: 30px;
}

.titre-div-row{
    padding-top: 70px;    
}

/*fin style page carte-credit*/

/*CSS réalisé pour la page regroupement et qui va être utilisé pour toutes les autres*/
.left-form{
    width: 60%;
    float: left;
    min-height: 700px;
    padding-left: 10%;
    padding-top: 5%;
    padding-right: 10%;
}

.div-emprunte-argent{
  width: 100%;
  float: left;
  text-align: center;
  color: lightgrey;
  padding-top: 20px;
  padding-bottom: 20px
}

.div-top-ul{
  padding-left: 10%;
  padding-top: 80px;
  padding-right: 10%;
}

.div-bottom-ul{
  padding-left: 10%;
  padding-top: 2%;
  width: 80%;
  line-height: 1.5;
}

.ul-validate{
  list-style-type: none;
  padding-left: 10%;
  font-weight: bold;
}

.padding-validate{
  padding-left: 25px;
}

.img-validate{
  width: 30px;
}

.li-validate{
  display: flex; /* allows align-items to work below */
  align-items: center; /* vertical */
  height: 45px;
}

.orange-title{
  color: orange;
  padding-top: 60px;
}

.txt-low-weight-black{
  font-weight: 300;
  font-size: 17px;
  font-family: var(--font-family-montserrat);
}

.txt-low-weight-white{
  font-weight: 300;
  font-size: 15px;
  color: white;
  font-family: var(--font-family-montserrat);
}

.big-number-orange{
  color: orange;
  font-size: 40px
}

.numbers-right{
  font-weight: 900;
  font-size: 17px
}

.div-lightgrey{
  background-color: #f8f8f8;
  float: left;
}

.img-header-homes{
  float: left;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

/*css tooltip page pret-auto*/
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-txt {
  visibility: hidden;
  background-color: #f8f8f8;
  color: var(--nevada);
  border-radius: 6px;
  padding: 5px 0;

 width: max-content;
 max-width: 350px;
 white-space: normal;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  right: -220px;
  bottom: -215px;
}

.tooltip:hover .tooltip-txt {
  visibility: visible;
}
/*fin css tooltip page pret-auto*/

.p-contact{
  font-size: 15px;
}

/*css footer*/
.p1{
  list-style-image: url("/assets/front/img/trac--247-10@1x.png");
}
.p2{
  list-style-image: url("/assets/front/img/trac--248-10@1x.png");
}
.p3{
  list-style-image: url("/assets/front/img/trac--250-10@1x.png");
}
.p4{
  list-style-image: url("/assets/front/img/trac--251-10@1x.png");
}
.p5{
  list-style-image: url("/assets/front/img/trac--247-10@1x.png");
}

.td-footer{
  width: 15.75%;
}

.td-left-footer{
  width: 3%;
}

.div-footer{
  width: 18.75%;
  float: left;
}

.div-footer ul {
  list-style-type: none;
  font-size: 15px;
}

/*fin css footer*/

.img-philo{
  padding-left: 50px;
  padding-right: 50px;
  width: 150px;
}



/*fin du CSS commun à toutes les pages*/

/*CSS slick*/
.slick-slide{
  min-height: 400px!important;
}

.slide{
  margin-left: 20px;
}
.slick-list{
  width: 70%;
  margin: auto;
}
.slick-arrow{
  background-image: url("assets/front/img/trac--227-1@1x.png");
  background-repeat: no-repeat;
  color: transparent;
  background-color: transparent;
  background-position: center;
  border: none;
  position: absolute;
  z-index: 1000;
  height: 40px;
  width: 75px;
  background-size: 50px;
}
.slick-prev{
  margin-left: 46%;
  top: 100%;
}
.slick-next{
  margin-left: 50%;
  transform: rotate(180deg); 
}
/*fin CSS slick*/