<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
        <meta name="og:type" content="website" />
        <meta name="twitter:card" content="photo" />
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
                <link rel="stylesheet" type="text/css" href="{{ asset('assets/front/08-regroupement-de-credits-tablet.css')}}" />
                <link rel="stylesheet" type="text/css" href="<?php echo base_url(); ?>/assets/front/css/styleguide.css" />
                <link rel="stylesheet" type="text/css" href="<?php echo base_url(); ?>/assets/front/css/globals.css" />
                <link rel="stylesheet" type="text/css" href="<?php echo base_url(); ?>/assets/front/css/00-menu-smartphone.css" />
                <link rel="stylesheet" type="text/css" href="<?php echo base_url(); ?>/assets/front/css/00-menu-tablet.css" />
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
         
    

    <meta name="author" content="AnimaApp.com - Design to code, Automated." />
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
